<lds-panel-container minHeight="auto" minWidth="700px">
    <div class="row">
        <div class="col-sm-12">
            <div class="title"><i class="fa fa-download"></i> Import an existing Segment</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="myForm" class="form" (submit)="onSubmit()">
                <div class="form-group">
                    <div class="col-sm-8">
                        <label class="control-label" for="inputSegment">Segments</label>
                        <lds-help>
                            This list is populated with segments exported from the limeds core and from your own slices. 
                            Green ones are regular Segments. Orange represents a factory, this will create a new Segment 
                            based on a template that has to be filled in.
                            </lds-help>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" #query (keyup)="search(query.value)" placeholder="filter" id="searchFilter" autocomplete="off">
                                <select class="form-control segments" id="inputSegment" formControlName="segment" size="8" #ffSelected>
                                    <option *ngFor="let segment of items | async" [ngValue]="segment" [ngClass]="getStyle(segment)">
                                        {{segment.id}}<span *ngIf="segment.factory"> [*]</span>
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label" for="inputSegmentVersion">Versions</label>
                        <lds-help>
                            Select a specific version, or pick the latest to always pick the most recently available version.
                        </lds-help>
                        <select class="form-control versions" type="text" id="inputSegmentVersion" formControlName="version" autocomplete="off" size="8">
                            <option value="latest" selected="selected">latest</option>
                            <option *ngFor="let v of segments[myForm.controls.segment.value.id]" value="{{v}}">{{v}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="text-left">
                            <span class="help-block">
                             [*] This is a factory and will create an instance of itself upon importing.
                            </span>
                        </div>
                        <div class="pull-right">
                            <button type="reset" class="btn btn-link" (click)="cancelPanel()">Cancel</button>
                            <button type="submit" class="btn btn-primary" [disabled]="myForm.controls.segment.errors || myForm.controls.version.errors">Import</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</lds-panel-container>