select {
    padding: 6px 12px;
}

select.segments {
    height: 216px;
}

select.versions {
    height: 250px;
}

select.segments option {
    padding: 0.2em 0.6em;
    margin: 0.2em 0;
}

select.versions option {
    padding: 0.2em 0.6em;
    margin: 0.2em 0;
    border: 4px solid #999;
    border-radius: 8px;
    background-color: #eee;
    color: black;
}

option.segment {
    border: 4px solid #7CBE3C;
    border-radius: 8px;
    background-color: #B3F456;
    color: black;
}

option.factory {
    border: 4px solid #DF9500;
    border-radius: 8px;
    background-color: #FCD500;
    color: black;
}

option:checked::before {
    position: relative;
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    left: -20px !important;
    margin-top: 3px !important;
    border-top: 5px solid transparent !important;
    border-bottom: 5px solid transparent !important;
    border-left: 5px solid #455E4E !important;

}
option:checked {
    font-weight: bold !important;
    margin-left: 15px !important;
    border: none !important;
    background-color: none !important;
    border-radius: 0px !important;
}