<lds-panel-container minWidth="60%" minHeight="auto">
    <div class="row">
        <div class="col-sm-12">
            <div class="title inline-help">Edit an existing slice</div>
            <lds-help>
                Edit the description of author of this slice. You cannot edit the name, since this would mean major refactoring of all segments
                inside the slice.
            </lds-help>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="myForm" class="form" (submit)="onSubmit()">

                <div class="form-group">
                    <label class="control-label" for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" disabled="disabled" value="{{sliceName}}">
                </div>

                <div class="form-group">
                    <label class="control-label" for="inputDescription">Description</label>
                    <input class="form-control" type="text" id="inputDescription" placeholder="eg. Handles actions within the module for our product."
                        formControlName="description">
                </div>

                <div class="form-group">
                    <label class="control-label" for="inputAuthor">Author</label>
                    <input class="form-control" type="text" id="inputAuthor" placeholder="IBCN" formControlName="author">
                    <div *ngIf="myForm.controls.author.errors">
                        <div *ngIf="myForm.controls.author.dirty && myForm.controls.author.errors.required" class="text-danger">You must enter a unique <em>slice</em> name!</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="pull-right">
                        <button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!isValid()">Update</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</lds-panel-container>