<lds-panel-container width="60%" minWidth="60%" minHeight="100px">

	<div class="row">
		<div class="col-sm-12">
			<div class="title"><i class="fa" [ngClass]="titleIcon"></i> {{title}}</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<p>{{description}}</p>
			<p *ngIf="question"><b>{{question}}</b></p>
		</div>
	</div>
	<form [formGroup]="myForm" (submit)="onSubmit()">
		<div class="row">
			<div class="col-sm-12">
				<div *ngIf="label">
					<div class="input-group">
						<span class="input-group-addon">{{label}}</span>
						<input type="text" class="form-control" formControlName="in" [placeholder]="placeholder" [value]="value" #in>
					</div>
				</div>
				<div *ngIf="!label">
					<input type="text" class="form-control" #in>
				</div>
				<br>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="pull-right">
					<button type="button" class="btn btn-link" (click)="onCancel()">{{cancelText}}</button>
					<button type="submit" class="btn btn-primary" [disabled]="!isValid()">{{okText}}</button>
				</div>
			</div>
		</div>
	</form>
</lds-panel-container>