<div class="header">
	<topbar>
		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group">
                <button class="btn btn-limedark" (click)="openSlices()">
                    <span class="fa fa-chevron-left fa-lg"></span> Slices overview
                </button>
            </div>

			<div class="btn-group-right">
				<div class="btn-group">
					<button class="btn btn-limedark" (click)="openWiki()">
                        <span class="fa fa-external-link fa-lg"></span> Wiki
                    </button>
					<button class="btn btn-limedark" (click)="openWebsite()">
                        <span class="fa fa-external-link fa-lg"></span> Official website
                    </button>
				</div>
			</div>
		</div>
	</topbar>
</div>

<div class="row">
	<div class="col-sm-12">
		<pre>{{info|json}}</pre>
	</div>
</div>