<div class="header">
    <topbar>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group">
                <button class="btn btn-limedark" (click)="openSlices()">
                    <span class="fa fa-chevron-left fa-lg"></span> Slices overview
                </button>
            </div>

            <div class="btn-group-right">
                <div class="btn-group">
                    <button class="btn btn-warning" (click)="openSwagger()">
                        <span class="fa fa-external-link fa-lg"></span> Swagger UI
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-limedark" (click)="openWiki()">
                        <span class="fa fa-external-link fa-lg"></span> Wiki
                    </button>
                    <button class="btn btn-limedark" (click)="openWebsite()">
                        <span class="fa fa-external-link fa-lg"></span> Official website
                    </button>
                </div>
            </div>
        </div>
    </topbar>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="title inline-help"><span class="fa fa-cloud-download fa-lg"></span> Installables</div>
        <lds-help>
            Installables are modules hosted on a reachable repository. This view allows you to install any available module in your local LimeDS instance.
        </lds-help>
        <button class="pull-right btn btn-lime2" (click)="hardRefresh()"><i class="fa fa-refresh"></i> Refresh</button>
    </div>
</div>

<div class="row" *ngIf="installed">
    <div class="col-sm-12">
        <h4 class="inline-help">Installed ({{installed.length}})</h4>
        <lds-help>
            These modules are already locally installed. Versions are seperate modules in this list view.
        </lds-help>
    </div>
</div>

<div class="row" *ngIf="installed">
    <div class="col-sm-12">
        <div class="row">

            <ng-template ngFor let-ins [ngForOf]="installed" let-i="index">
                <div class="col-xs-12 col-md-6 col-lg-4">
                   
                    <div class="installed" (click)="openInstallable(ins)">
                        <div class="installable-button pull-right">
                            <button class="btn btn-danger" (click)="undeployInstallable($event, ins)" *ngIf="!ins.busy && isInstalled(ins.id, ins.version)">
                                <span class="fa fa-ban fa-2x"></span>
                            </button>
                            <div class="installable-busy" *ngIf="ins.busy">
                                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="installable-id">
                            {{ins.id}}
                        </div>
                        <span class="installable-version">
                            {{ins.version}}
                        </span>
                    </div>
                </div>
             

                <div class="visible-xs-block clearfix"></div>
                <div class="visible-md-block visible-sm-block clearfix" *ngIf="(i+1)%2===0"></div>
                <div class="visible-lg-block clearfix" *ngIf="(i+1)%3===0"></div>
            </ng-template>
        </div>
    </div>
</div>

<div class="row" *ngIf="installables">
    <div class="col-sm-12">
        <h4 class="inline-help">Available({{installables.length}})</h4>
        <lds-help>
            These modules are already available for installation from a remote repository. Versions are bundled together per module in this list view.
        </lds-help>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row">

            <ng-template ngFor let-ins [ngForOf]="installables" let-i="index">
                <div class="col-xs-12 col-md-6 col-lg-4">
                   
                    <div class="installable" (click)="openInstallable(ins)">
                        <div class="installable-button pull-right">
                            <button class="btn btn-limedark" (click)="deployInstallable($event, ins)" *ngIf="!ins.busy && !isInstalled(ins.id, ins.version)">
                                <span class="fa fa-arrow-circle-down fa-2x"></span>
                            </button>
                            <button class="btn btn-danger" (click)="undeployInstallable($event, ins)" *ngIf="!ins.busy && isInstalled(ins.id, ins.version)">
                                <span class="fa fa-ban fa-2x"></span>
                            </button>
                            <div class="installable-busy" *ngIf="ins.busy">
                                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div class="installable-id">
                            {{ins.id}}
                        </div>
                        <span class="installable-version">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" (click)="$event.stopPropagation()"  dropdownToggle>
                                    {{ins.version}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" *dropdownMenu role="menu" aria-labelledby="split-button">
                                    <li role="menuitem" *ngFor="let v of ins.versions">
                                        <a class="dropdown-item" (click)="selectVersion($event, ins, v)">{{v}}</a>
                                    </li>
                                </ul>
                             </div>
                        </span>
                    </div>
                </div>
             
                <div class="visible-xs-block clearfix"></div>
                <div class="visible-md-block visible-sm-block clearfix" *ngIf="(i+1)%2===0"></div>
                <div class="visible-lg-block clearfix" *ngIf="(i+1)%3===0"></div>
            </ng-template>
        </div>
    </div>
</div>