div.my-panel-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
   
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 99;
}

div.my-panel-container::before {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    
    content: "";
    background-color: #666;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.my-panel-item {
    position: relative;
    flex: 0 1 auto;
    height: auto;    
    max-height: 80%;
    max-width: 80%;
    
    overflow: auto;
    
    background-color: white;
    background-color: rgba(255,255,255,0.8);
    filter: alpha(opacity=80); /* For IE8 and earlier */
    
    border: 2px solid #457E4E;/*#60BF00;*/
    z-index: 101;
    
    -webkit-box-shadow: 0px 0px 30px 10px rgb(255,255,255);
    -moz-box-shadow: 0px 0px 30px 10px rgb(255,255,255);
    box-shadow: 0px 0px 30px 10px rgb(255,255,255);
    
    padding-top: 10px;
    padding-bottom: 10px;
}

:host >>> .title {
    font-size: 20px;
    font-weight: bold;
    color: #455E4E;
    margin-bottom: 5px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
    cursor: default;
}