<div class="wrapper">
    <div class="header">
        <topbar>
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <button class="btn btn-limedark" (click)="saveSlice()"><span class="fa fa-floppy-o fa-lg"></span> Save</button>
                    <button class="btn btn-limedark" (click)="saveAsSlice()"><span class="fa fa-floppy-o fa-lg"></span> Save as</button>
                </div>

                <div class="btn-group-right">
                    <div class="btn-group" role="group" aria-label="...">
                         <button class="btn btn-warning" (click)="openDebugView()">
                            <span class="fa fa-external-link fa-lg"></span> Debug View
                        </button>
                        <button class="btn btn-warning" (click)="openSwagger()">
                            <span class="fa fa-external-link fa-lg"></span> Swagger UI
                        </button>
                    </div>

                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn" [ngClass]="getActiveButtonStateCss()" (click)="toggleActiveState()">
                            <span class="fa fa-lg" [ngClass]="getActiveStateCss()"></span> 
                            {{getActiveState()}}
                        </button>
                    </div>
                </div>

            </div>
        </topbar>
    </div>
    <div class="left">
        <sidebar (toolbar-btn)="onToolbarBtn($event)"></sidebar>
    </div>
    <div class="right">
        <flow-canvas (panelAction)="onPanelAction($event)" (clickAction)="onClickAction($event)" (editorTooltip)="onEditorTooltip($event)"></flow-canvas>
        <div #placeholder></div>
    </div>
    <div class="footer">
        <slice-info *ngIf="slice">{{slice.id}} <small>{{slice.version}}</small></slice-info>
        <statusbar></statusbar>
    </div>
</div>