.wrapper{
   width: 100%;
   margin: 0 auto;
}

.header{
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   height: 50px;
   background-color: #f4f4f4;
}

.left{
   position: fixed;
   top: 50px;
   left: 0;
   bottom: 25px;
   width: 70px;
   background-color: #98fb98;
   z-index:10;
}

.right{
   position: fixed;
   top: 50px;
   right: 0;
   left: 70px;
   bottom: 25px;
   background-color: #afeeee;
}

.footer{
   position: fixed;
   right: 0;
   left: 0;
   bottom: 0;
   height: 25px;
   background-color: #f4f4f4;
   z-index: 8;
}

 .btn-group-right {
     position: absolute;
     right: 1em;
 }

  .btn-group-right .btn-group {
     display: inline-block;
     margin-left: 5px;
 }