<lds-ctx-menu>
    <lds-ctx-menu-item fa-logo-class="fa-dot-circle-o" title="Assign entry points" action="web-api" [hidden]="vm.readOnly || vm.factoryInstance"></lds-ctx-menu-item>
    <lds-ctx-menu-item fa-logo-class="fa-cog" title="General options" action="config-panel" [hidden]="vm.readOnly"></lds-ctx-menu-item>
    <div class="divider"></div>
    <lds-ctx-menu-item fa-logo-class="fa-microchip" title="Script editor" action="script-panel" [hidden]="vm.readOnly || vm.factoryInstance"></lds-ctx-menu-item>
    <lds-ctx-menu-item fa-logo-class="fa-puzzle-piece" title="Manage variables" action="multi-link" [hidden]="vm.readOnly || vm.factoryInstance"></lds-ctx-menu-item>
    <div class="divider"></div>
    <lds-ctx-menu-item fa-logo-class="fa-magic" title="Configure aspects" action="adv-options" [hidden]="vm.readOnly || vm.factoryInstance"></lds-ctx-menu-item>
    <lds-ctx-menu-item fa-logo-class="fa-columns" title="Configure properties" action="edit-configuration" [hidden]="vm.readOnly"></lds-ctx-menu-item>
    <div class="divider"></div>
    <lds-ctx-menu-item fa-logo-class="fa-info" title="View documentation" action="view-doc"></lds-ctx-menu-item>
    <lds-ctx-menu-item fa-logo-class="fa-book" title="Configure schemas" action="config-schemas" [hidden]="vm.readOnly || vm.factoryInstance"></lds-ctx-menu-item>
    <div class="divider"></div>
    <lds-ctx-menu-item fa-logo-class="fa-paint-brush" title="Change color" action="color"></lds-ctx-menu-item>
    <lds-ctx-menu-item fa-logo-class="fa-ellipsis-h" title="Rename segment" action="rename"></lds-ctx-menu-item>
</lds-ctx-menu> 