<lds-panel-container minHeight="auto" minWidth="60%">
    <div class="row">
        <div class="col-sm-12">
            <div class="title inline-help"><i class="fa fa-plus"></i> Create a new slice</div>
            <lds-help>
                Slices make up your whole application. By creating a new slice, you have a blank slate to start adding segments to. These
                segments will be able to use eachother to implement your desired functionality.
            </lds-help>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="myForm" class="form" (submit)="onSubmit()">

                <div class="form-group">
                    <label class="control-label" for="inputName">Name</label>
                    <lds-help>
                        Think of this as the package name. Every segment you add to this slice later on, will be prefixed with this name.
                    </lds-help>
                    <input class="form-control" type="text" id="inputName" placeholder="org.ibcn.product.module" formControlName="name" autocomplete="off">
                    <div *ngIf="myForm.controls.name.errors">
                        <div *ngIf="myForm.controls.name.dirty && myForm.controls.name.errors.required" class="text-danger">You must enter a unique <em>slice</em> name!</div>
                        <div *ngIf="myForm.controls.name.errors.pattern" class="text-danger">You must enter a valid <em>slice</em> namespace: <em>Java package style</em></div>
                        <div *ngIf="myForm.controls.name.errors.notUnique" class="text-danger">A <em>slice</em> with that name already exists in this Slice.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="inputDescription">Description <small>(optional)</small></label>
                    <input class="form-control" type="text" id="inputDescription" placeholder="eg. Handles actions within the module for our product."
                        formControlName="description" autocomplete="off">
                </div>

                <div class="form-group">
                    <label class="control-label" for="inputAuthor">Author</label>
                    <input class="form-control" type="text" id="inputAuthor" placeholder="organization" formControlName="author" autocomplete="off">
                    <div *ngIf="myForm.controls.author.errors">
                        <div *ngIf="myForm.controls.author.dirty && myForm.controls.author.errors.required" class="text-danger">You must enter a unique <em>slice</em> name!</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="pull-right">
                        <button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!isValid()">Create</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</lds-panel-container>