.white {
    background-color: white;
    margin: 5px 0px;
    border: 1px dotted #ccc;
}




:host >>> h5 {
    font-size: 15px;
    font-weight: bold;

}

:host >>> h4 {
    font-weight: bold;
}

:host >>> div.func {
    margin: 6px 0 14px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #ccc;
}

:host >>> .func .sign {
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
    color: darkblue;
}
:host >>> .func .sign em {
    color: #FD9B28;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}

:host >>> div.indent {
    margin-left: 1em;
}

:host >>> h5 em {
    color: #FD9B28;
    text-decoration: none;
    font-style: normal;
}

:host >>> .func .desc {
    color: #888;
    margin-left: 1em;
    margin-bottom: 3px;
    font-size: 13px;
    font-style: italic;
}


:host >>> .func .in, :host >>> .func .out {
    /*margin-left: 1em;*/
}

:host >>> .func .param {
    margin-left: 1em;
}

:host >>> .func .param .name {
    /*color: #FD9B28;*/
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
}

:host >>> .func pre {
    max-height: 100px;
    margin: 0.2em 1em 0.6em;
    font-size: 10px;
}

:host >>> span.typeAny {
    color: #FD9B28;
    font-style: italic;
}

:host >>> span.typeNumber {
    color: #000000;
    font-style: italic;
}

:host >>> span.typeString {
    color: #FF3636;
    font-style: italic;
}

:host >>> span.typeBoolean {
    color: #989898;
    font-style: italic;
}

:host >>> span.typeObject {
    color: #3D8B9B;
    font-style: italic;
}

:host >>> span.typeArray {
    color: #349AB7;
    font-style: italic;
}

:host >>> span.typeVoid {
    color: #0000FF;
    font-style: italic;
}

:host >>> i.info:hover {
    cursor: help
}