<lds-panel-container minHeight="auto">
	<div class="row">
		<div class="col-sm-12">
			<div class="title inline-help"><i class="fa fa-book"></i> {{title}}</div>
			<lds-help>View the documentation about how to use this Segment from another Segment.</lds-help>
		</div>
	</div>
	<div class="row" [ngClass]="{'white' : !isEmpty(documentation) }">
		<div class="col-sm-12">
			<lds-doc-variable *ngIf="!isEmpty(documentation)" class="var-info" [var]="variable" [description]="description" [documentation]="documentation"></lds-doc-variable>
			<div *ngIf="isEmpty(documentation)">No documentation available.</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="pull-right">
				<button type="reset" class="btn btn-info" (click)="onCancel()">Close</button>
			</div>
		</div>
	</div>
</lds-panel-container>