<lds-panel-container minWidth="600px" minHeight="auto">
    <div class="row">
        <div class="col-sm-12">
            <div class='title inline-help' *ngIf="vm.cycle">Opposite link present!</div>
            <lds-help *ngIf="vm.cycle">
                You cannot add a link that would introduce a dependency loop.'
            </lds-help>
            <div class='title inline-help' *ngIf="vm.factoryNoVars">No variables defined!</div>
            <lds-help *ngIf="vm.factoryNoVars">
                There are no variables defined on this factory instance, hence no links can be added.
            </lds-help>
            <div class='title inline-help' *ngIf="!vm.cycle && !vm.factoryNoVars">Enter a variable name for this link</div>
            <lds-help *ngIf="!vm.cycle && !vm.factoryNoVars">
                Enter a new variable name, or pick and overwrite an existing variable. 
            </lds-help>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <div *ngIf="vm.cycle">
                <div class="row">
                    <div class="col-sm-12">
                        <p>
                            There is an opposite link present already! <br> Creating this link would introduce a dependency
                            cycle that cannot be resolved.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!vm.cycle">
                <div *ngIf="vm.factoryNoVars">
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                There are no variables defined on this factory instance.<br> Thus you cannot make any outgoing
                                links from this segment!
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <form [formGroup]="form" class="form" *ngIf="!vm.factoryNoVars" (submit)="onSubmit()">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label" for="inputName">Enter a name</label>
                                <div class="radio">
                                    <label>
                                    <input type="radio" formControlName="radioVar" value="custom" >
                                    <input class="form-control" type="text" formControlName="customVarName" autocomplete="off"
                                        (focus)="useCustomVar()" width="100%" #customVar>
                                </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <fieldset [disabled]="vm.vars.length === 0">
                                    <div [ngSwitch]="vm.vars.length">
                                        <label *ngSwitchDefault class="control-label" for="inputName">Overwrite 1 of {{vm.vars.length}} variables present</label>
                                        <label *ngSwitchCase="0" class="control-label" for="inputName">No variables present to overwrite</label>
                                        <label *ngSwitchCase="1" class="control-label" for="inputName">Overwrite the variable present</label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                        <input type="radio" formControlName="radioVar" value="selected">
                                        <select class="form-control" formControlName="chosenVarName" (focus)="useSelectedVar()" size="5">
                                            <option *ngFor="let v of vm.vars" value="{{v.name}}">{{v.name}} [{{v.targets}}]</option>
                                        </select>
                                    </label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>

                    <div class="row" *ngIf="form.controls.customVarName.errors">
                        <div class="col-sm-12">
                            <p class="text-danger">First letter of a variable must be lower case. Dots and spaces are not allowed.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group pull-right">
                                <button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
                                <button type="submit" class="btn btn-primary" [disabled]="!isValid()">Create</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</lds-panel-container>