.wrapper{
   width: 100%;
   margin: 0 auto;
}

.header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   height: 50px;
}

.content {
    position: absolute;
    top: 50px;
    padding: 1em 2em;
}

table.slices {
    border-spacing: 0;
    border-collapse: separate;
}

.default-cursor {
    cursor: default !important;
}
 .btn-group-right {
     position: absolute;
     right: 1em;
 }

  .btn-group-right .btn-group {
     display: inline-block;
     margin-left: 5px;
 }

 /* types.panel.css */
div.outer-title {
    position: absolute;
    top: 70px; 
    left: 30px; 
    right: 30px; 
}

div.outer {
    position: absolute;
    top: 110px; 
    bottom: 15px; 
    left: 30px; 
    right: 30px; 
}

 div.select-cont {
    position: relative;
    height: 100%;
}

select.typeSelect {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;    
    overflow: auto;
    padding: 4px 2px;
}

select.typeSelect option {
    padding: 2px 4px;
}

select.typeSelect option.factory {
    color:orangered;
    font-weight: bold;
}

select.typeSelect option.factory-instance {
    color: black;
    font-weight: normal;
    font-style: italic;
    padding-left: 1em;
}

select.typeSelect option.configurable-instance {
    color: green;
}

div#configEditor {
    height: 100%;
    border: 1px solid rgb(169,169,169);

    padding: 0.2em 15px;
    overflow: auto;
}

div.flex-cont {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

div.flex-left {
    flex: 0 0 310px;
    padding-right: 5px;
    margin-bottom: 0px;
    align-self: stretch;
}

div.flex-right {
    flex: 1 1 auto;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

div.my-btn {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.inline-input {
    display: inline-block;
    width: calc(100% - 37px);
    left: 0px;
    right: 0px; 
    top: 1px;
    margin-bottom: 2px;
    position: relative; 
}

.inline-input-container {
    width: 100%; 
    position: relative;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #455E4E;
    margin-bottom: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}