<div class="header">
    <topbar>
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group">
                <button class="btn btn-limedark" (click)="openSlices()">
                    <span class="fa fa-chevron-left fa-lg"></span> Slices overview
                </button>
            </div>
            <div class="btn-group-right">
                <div class="btn-group">
                    <button class="btn btn-warning" (click)="openSwagger()">
                        <span class="fa fa-external-link fa-lg"></span> Swagger UI
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-limedark" (click)="openWiki()">
                        <span class="fa fa-external-link fa-lg"></span> Wiki
                    </button>
                    <button class="btn btn-limedark" (click)="openWebsite()">
                        <span class="fa fa-external-link fa-lg"></span> Official website
                    </button>
                </div>
            </div>
        </div>
    </topbar>
</div>
<div class="row outer-title">
    <div class="col-sm-12">
        <div class="title inline-help">
            <span class="fa fa-list-alt fa-lg"></span> Configuration Editor</div>
        <lds-help>
            This editor presents a view on the current config files. The entries are color-coded: <strong>orange</strong>            represents a Factory that can instantiate copies of itself, <strong>black</strong> italic entries are the factory
            instantiations themselves, <strong>green</strong> respresents Configuration Instances, which are segments that
            have a configuration that can be adapted.
        </lds-help>
    </div>
</div>
<div class="row outer">
    <div class="col-sm-12" style="height: 100%">
        <form [formGroup]="myForm" class="form">
            <div class="flex-cont">
                <div class="flex-left">
                    <div class="select-cont">
                        <select class="form-control" class="typeSelect" size="{{getNameAmount()}}" formControlName="configSelect" #selected>
                            <option *ngFor="let name of listConfigNames()" value="{{name}}" [ngClass]="getOptionCss(name)">{{getLabel(name)}}</option>
                        </select>
                    </div>
                </div>
                <div class="flex-right">
                    <div id="configEditor" *ngIf="selectedConfig">
                        <div class="title">{{selectedConfig.type}}: {{myForm.controls.configSelect.value}}</div>
                        <div class="help-block" *ngIf="description">{{description}}</div>
                        <div *ngIf="vm.configEntries.length > 0">
                            <form class="form" [formGroup]="myForm2">
                                <div *ngFor="let entry of vm.configEntries; let i=index">
                                    <div class="form-group" [ngSwitch]="entry.simpleType">
                                        <div *ngSwitchCase="'text'">
                                            <label class="control-label">
                                                <lds-help *ngIf="entry.description">{{entry.description}}</lds-help>
                                                {{getPropertyLabel(entry)}}
                                            </label>
                                            <input type="text" class="form-control input-sm" formControlName="{{entry.name}}">
                                            <div *ngIf="myForm2.controls[entry.name].dirty && myForm2.controls[entry.name].errors">
                                                <p *ngIf="myForm2.controls[entry.name].errors.pattern" class="text-danger">This is not the correct format for this type.</p>
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'number'">
                                            <label class="control-label">
                                                <lds-help *ngIf="entry.description">{{entry.description}}</lds-help>
                                                {{getPropertyLabel(entry)}}
                                            </label>
                                            <input type="number" class="form-control input-sm" formControlName="{{entry.name}}">
                                        </div>
                                        <div *ngSwitchCase="'checkbox'">
                                            <div *ngIf="entry.description" class="control-label">
                                                <lds-help>{{entry.description}}</lds-help>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" formControlName="{{entry.name}}"> {{getPropertyLabel(entry)}}
                                                </label>
                                            </div>
                                        </div>
                                        <div *ngSwitchCase="'select'">
                                            <label class="control-label">
                                                <lds-help *ngIf="entry.description">{{entry.description}}</lds-help>
                                                {{getPropertyLabel(entry)}}
                                            </label>
                                            <select class="form-control input-sm" formControlName="{{entry.name}}">
                                                <option *ngFor="let opt of entry.possibleValues" value="{{opt}}">{{opt}}</option>
                                            </select>
                                        </div>
                                        <div *ngSwitchCase="'array'">
                                            <label class="control-label">
                                                <lds-help *ngIf="entry.description">{{entry.description}}</lds-help>
                                                {{getPropertyLabel(entry)}}
                                            </label>
                                            <input *ngFor="let v of entry.possibleValues; let idx=index" type="text" class="form-control inline-input input-sm" formControlName="{{entry.name+idx}}"
                                                value="{{v}}">
                                                <button type="button" class="btn btn-success btn-sm pull-right" (click)="addEntry(entry, entry.possibleValues.length)">
                                                    <span class="fa fa-plus"></span>
                                                </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" [ngSwitch]="selectedConfig.type">
                                    <div class="text-right" *ngSwitchCase="'FACTORY'">
                                        <button type="button" class="btn btn-link" (click)="cancel()">Cancel</button>
                                        <button type="submit" class="btn btn-info" (click)="instantiate()" [disabled]="!isValid()"><i class="fa fa-plus"></i> Instantiate</button>
                                    </div>
                                    <div class="text-right" *ngSwitchCase="'FACTORY_INSTANCE'">
                                        <button type="button" class="btn btn-link" (click)="cancel()">Cancel</button>
                                        <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
                                        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!isValid()">Save</button>
                                    </div>
                                    <div class="text-right" *ngSwitchCase="'CONFIGURABLE_INSTANCE'">
                                        <button type="button" class="btn btn-link" (click)="cancel()">Cancel</button>
                                        <button type="button" class="btn btn-default" (click)="reset()">Reset</button>
                                        <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!isValid()">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>