<div class="header">
	<topbar>
		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group">
				<button class="btn btn-limedark" (click)="openConfigurationEditor()">
					<span class="fa fa-list-alt fa-lg"></span> Configuration editor
				</button>
				<button class="btn btn-limedark" (click)="openInstallables()">
					<span class="fa fa-cloud-download fa-lg"></span> Installables
				</button>
			</div>
			<div class="btn-group-right">
				<div class="btn-group">
					<button class="btn btn-warning" (click)="openDebugView()">
						<span class="fa fa-external-link fa-lg"></span> Debug View
					</button>
					<button class="btn btn-warning" (click)="openSwagger()">
						<span class="fa fa-external-link fa-lg"></span> Swagger UI
					</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-limedark" (click)="openWiki()">
						<span class="fa fa-external-link fa-lg"></span> Wiki
					</button>
					<button class="btn btn-limedark" (click)="openWebsite()">
						<span class="fa fa-external-link fa-lg"></span> Official website
					</button>
				</div>
			</div>
		</div>
	</topbar>
</div>
<div class="row">
	<div class="col-sm-12">
		<span class="pull-left help-block">Double click to open a <em>slice</em> in the editor. </span>
		<span class="pull-right">
			<button class="btn btn-lime2 btn-sm" (click)="createSlice()">
				<span class="fa fa-plus"></span> New Slice
			</button>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-hover table-striped slices">
			<thead>
				<tr>
					<th class="col-sm-3 col-md-3">Name</th>
					<th class="col-sm-1 col-md-1">Version</th>
					<th class="col-sm-3 col-md-4">Description</th>
					<th class="col-sm-2 col-md-2">Author</th>
					<th class="col-sm-3 col-md-2 text-right">Actions</th>
				</tr>
			</thead>
			<tbody (mouseout)="onMouseOut()">
				<tr *ngFor="let slice of slices" class="default-cursor" [class.deployed]="slice.status==='deployed'" (dblclick)="openSlice(slice)"
								(mouseover)="onMouseOver(slice)">
					<td>{{slice.id}}</td>
					<td>{{slice.version}}</td>
					<td>{{slice.description}}</td>
					<td>{{slice.author}}</td>
					<td class="text-right">
						<span [hidden]="slice.id !== activeId || slice.version !== activeVersion">
							<div class="btn-toolbar pull-right" role="group">
								<div class="btn-group btn-group-xs" role="group" *ngIf="slice.status==='undeployed'">
									<button class="btn btn-success" (click)="deploySlice(slice)" tooltip="Activate" container="body">
										<span class="fa fa-fw fa-play"></span>
									</button>
								</div>
								<div class="btn-group btn-group-xs" role="group" *ngIf="slice.status==='deployed'">
									<button class="btn btn-primary" (click)="undeploySlice(slice)" tooltip="Deactivate" container="body">
										<span class="fa fa-fw fa-stop"></span>
									</button>
								</div>
								<div class="btn-group btn-group-xs" role="group">
									<button class="btn btn-warning" (click)="editSlice(slice)" tooltip="Edit" container="body">
										<span class="fa fa-fw fa-pencil"></span>
									</button>
									<button class="btn btn-info" (click)="copySlice(slice)" tooltip="Copy" container="body">
										<span class="fa fa-fw fa-clone"></span>
									</button>
								</div>
								<div class="btn-group btn-group-xs" role="group">
									<button class="btn btn-danger" (click)="removeSlice(slice)" tooltip="Delete" container="body">
										<span class="fa fa-fw fa-times"></span>
									</button>
								</div>
							</div>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="hostinfo pull-right">
			<a routerLink="/version">release: {{releaseVersion}} | core: {{coreVersion}}</a>
		</div>
	</div>
</div>