#canvas-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

canvas.flow-canvas {
    margin: 0px;
    background-color: #eee;
    box-shadow: 8px 0px 6px -4px #ccc inset, 
                0px 8px 6px -4px #ccc inset, 
                0px -8px 6px -4px #ccc inset;
    z-index: 100;
}