<lds-panel-container minWidth="60%" minHeight="auto">
  <div class="row">
    <div class="col-sm-12">
      <div class="title inline-help"><i class="fa fa-magic"></i> Configure aspects</div>
      <lds-help>
        Configure aspects to be applied to calls made to this segment.
      </lds-help>
    </div>
  </div>
  <form [formGroup]="myForm" class="form" (submit)="onSubmit()">
    <div class="row">
      <div class="col-sm-12">
        <tabset>
          <tab>
            <ng-template tabHeading><i class="fa fa-database"></i> Cache</ng-template>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="cacheSet"> Enable cache
                      <lds-help>
                        Add a cache to lighten the load on external APIs or to speed up response times for frequent requests with slow changing responses.
                      </lds-help>
                    </label>
                  </div>
                </div>
                <fieldset [disabled]="!myForm.controls.cacheSet.value">
                  <div class="form-group">
                    <label class="control-label" for="inputSize">Cache size</label>
                    <lds-help>The maximum amount of entries for this cache</lds-help>
                    <div class="row">
                      <div class="col-sm-4">
                        <input class="form-control" type="number" min="1" max="2500" step="1" id="inputSizeNumber" formControlName="size" autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <label class="control-label" for="inputRetentionDuration">Cache retention duration</label>
                        <lds-help>How long before the cache is bust</lds-help>
                        <input class="form-control col-sm-6" type="numver" id="inputRetentionDuration" formControlName="retentionDuration" autocomplete="off">
                      </div>
                      <div class="col-sm-6">
                        <label class="control-label" for="inputRetentionDurationUnit">Cache retention duration unit</label>
                        <select class="form-control col-sm-6" id="inputRetentionDurationUnit" formControlName="retentionDurationUnit" autocomplete="off">
                          <option value="MILLISECONDS">milliseconds</option>
                          <option value="SECONDS">seconds</option>
                          <option value="MINUTES">minutes</option>
                          <option value="HOURS">hours</option>
                          <option value="DAYS">days</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="fa fa-shield"></i> Validation</ng-template>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="validationInputSet"> Enable input validation
                      <lds-help>
                        Validate all input arguments of a function call, before executing the call on this segment. If no documentation schema is
                        defined, the argument is passed along unvalidated.
                      </lds-help>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" formControlName="validationOutputSet"> Enable output validation
                      <lds-help>
                        Validate the output response of a function call, before returning from the call on this segment. If no documentation schema
                        is defined, the argument is passed along unvalidated.
                      </lds-help>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </tab>
          <tab>
            <ng-template tabHeading><i class="fa fa-list-ul"></i> Custom</ng-template>
            <div class="form-group">
              <label>
                Selected aspect ({{customAspects.length}} available)
                <lds-help>
                  Select a custom aspect to configure, or create a new one all together.
                </lds-help>
              </label>
              <button *ngIf="selectedCustomAspect" type="button" class="btn btn-xs btn-danger pull-right" (click)="deleteCustomAspect(selectedCustomAspect)">
                <i class="fa fa-trash"></i> Delete aspect
              </button>
              <br>
              <button *ngIf="customAspects.length === 0" type="button" class="btn btn-xs btn-info" (click)="addCustomAspect()">
                <i class="fa fa-plus"></i> Create new
              </button>
              <div class="btn-group btn-group-xs" dropdown *ngIf="customAspects.length > 0">
                <button id="single-button" type="button" class="btn btn-info dropdown-toggle" dropdownToggle>
                  <span *ngIf="selectedCustomAspect">{{selectedCustomAspect}}</span>
                  <span *ngIf="!selectedCustomAspect"><i class="fa fa-plus"></i> Create new</span>
                  <span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="single-button">
                  <ng-template ngFor let-aspect [ngForOf]="customAspects" let-last="last" let-first="first">
                    <li *ngIf="aspect !== selectedCustomAspect" role="menuitem">
                      <a class="dropdown-item pointer" (click)="selectCustomAspect(aspect)">{{aspect}}</a>
                    </li>
                    <li *ngIf='!first && last' class="divider dropdown-divider"></li>
                    <li *ngIf='last' role="menuitem">
                      <a class="dropdown-item pointer" (click)="addCustomAspect()">
                        <i class="fa fa-plus"></i> Create new</a>
                    </li>
                  </ng-template>
                </ul>
              </div>
            </div>
            <div class="form-group" [hidden]="!customAspects || customAspects.length === 0 || !selectedCustomAspect">
              <label>
                Configuration options
                <lds-help>
                  Insert the configuration of your custom aspect by supplying a JSON object.
                </lds-help>
              </label>
              <div id="code"></div>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group pull-right">
          <button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</lds-panel-container>
