.tab-pane {
    background-color: white;
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px 15px;
    margin-bottom: 5px;
    min-height: 240px;
}

#code {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
}

.full {
    width: 100%;
}

.pointer:hover {
    cursor: pointer;
}