<lds-panel-container minWidth="auto" minHeight="auto">
    <div class="row">
        <div class="col-sm-12">
            <div class="title"><i class="fa fa-paint-brush"></i> Pick a color</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <canvas id="colorCanvas" (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (click)="onClick($event)"></canvas>
            <canvas id="pickerCanvas" width="50"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="pull-right">
                <button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
            </div>
        </div>
    </div>
</lds-panel-container>