html,
body {
    margin: 0;
    padding: 50px 0 0 0;
    background-color: white;
    color: #222;
}

div.header {
  z-index:10;
}

span.my-tooltip {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    /*height: 8px;*/
    line-height: 8px;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color: rgb(238, 238, 238);
    background: #333;
    border: 2px solid #333;
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

span.my-tooltip:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent #333 transparent transparent;
    top: 7px;
    left: -14px;
}

 div.my-badge-tooltip {
     display: block;
     z-index: 199;
     background-color: white;
     border-radius: 4px;
     padding: 2px 4px;
     border: 1px solid grey;
 }

 div.title.inline-help+lds-help .lds-help-logo {
    font-size: 1.33333333em;
    line-height: 0.75em;
    color: #455E4E;
 }

 label {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none; 
    cursor: default;
 }

 h4.inline-help+lds-help .lds-help-logo {
    font-size: 1.1em;
    line-height: 0.75em;
 }

 .inline-help {
   display: inline-block;
 }

 button.btn lds-help {
   z-index: 100!important;
 }

 button.btn.z-fix {
   z-index: 20;
   position:relative;
 }
 
 button.btn lds-help .lds-help-logo {
   color: white;
 }

 button.btn lds-help .lds-help-item {
   white-space: normal;
   text-align: left;
 }

.btn-lime {
  color: #ffffff;
  background-color: #8ed944;
  border-color: #81d52f;
}
.btn-lime:focus,
.btn-lime.focus {
  color: #ffffff;
  background-color: #74c228;
  border-color: #426e16;
}
.btn-lime:hover {
  color: #ffffff;
  background-color: #74c228;
  border-color: #63a521;
}
.btn-lime:active,
.btn-lime.active,
.open > .dropdown-toggle.btn-lime {
  color: #ffffff;
  background-color: #74c228;
  border-color: #63a521;
}
.btn-lime:active:hover,
.btn-lime.active:hover,
.open > .dropdown-toggle.btn-lime:hover,
.btn-lime:active:focus,
.btn-lime.active:focus,
.open > .dropdown-toggle.btn-lime:focus,
.btn-lime:active.focus,
.btn-lime.active.focus,
.open > .dropdown-toggle.btn-lime.focus {
  color: #ffffff;
  background-color: #63a521;
  border-color: #426e16;
}
.btn-lime:active,
.btn-lime.active,
.open > .dropdown-toggle.btn-lime {
  background-image: none;
}
.btn-lime.disabled:hover,
.btn-lime[disabled]:hover,
fieldset[disabled] .btn-lime:hover,
.btn-lime.disabled:focus,
.btn-lime[disabled]:focus,
fieldset[disabled] .btn-lime:focus,
.btn-lime.disabled.focus,
.btn-lime[disabled].focus,
fieldset[disabled] .btn-lime.focus {
  background-color: #8ed944;
  border-color: #81d52f;
}
.btn-lime .badge {
  color: #8ed944;
  background-color: #ffffff;
}

.btn-lime2 {
  color: #ffffff;
  background-color: #60bf00;
  border-color: #53a600;
}
.btn-lime2:focus,
.btn-lime2.focus {
  color: #ffffff;
  background-color: #468c00;
  border-color: #132600;
}
.btn-lime2:hover {
  color: #ffffff;
  background-color: #468c00;
  border-color: #346800;
}
.btn-lime2:active,
.btn-lime2.active,
.open > .dropdown-toggle.btn-lime2 {
  color: #ffffff;
  background-color: #468c00;
  border-color: #346800;
}
.btn-lime2:active:hover,
.btn-lime2.active:hover,
.open > .dropdown-toggle.btn-lime2:hover,
.btn-lime2:active:focus,
.btn-lime2.active:focus,
.open > .dropdown-toggle.btn-lime2:focus,
.btn-lime2:active.focus,
.btn-lime2.active.focus,
.open > .dropdown-toggle.btn-lime2.focus {
  color: #ffffff;
  background-color: #346800;
  border-color: #132600;
}
.btn-lime2:active,
.btn-lime2.active,
.open > .dropdown-toggle.btn-lime2 {
  background-image: none;
}
.btn-lime2.disabled:hover,
.btn-lime2[disabled]:hover,
fieldset[disabled] .btn-lime2:hover,
.btn-lime2.disabled:focus,
.btn-lime2[disabled]:focus,
fieldset[disabled] .btn-lime2:focus,
.btn-lime2.disabled.focus,
.btn-lime2[disabled].focus,
fieldset[disabled] .btn-lime2.focus {
  background-color: #60bf00;
  border-color: #53a600;
}
.btn-lime2 .badge {
  color: #60bf00;
  background-color: #ffffff;
}


.btn-limedark {
  color: #ffffff;
  background-color: #468c00;
  border-color: #346800;
  
}
.btn-limedark:focus,
.btn-limedark.focus {
  color: #ffffff;
  background-color: #468c00;
  border-color: #132600;
}
.btn-limedark:hover {
  color: #ffffff;
  background-color: #60bf00;
  border-color: #346800;
}
.btn-limedark:active,
.btn-limedark.active,
.open > .dropdown-toggle.btn-limedark {
  color: #ffffff;
  background-color: #468c00;
  border-color: #346800;
}
.btn-limedark:active:hover,
.btn-limedark.active:hover,
.open > .dropdown-toggle.btn-limedark:hover,
.btn-limedark:active:focus,
.btn-limedark.active:focus,
.open > .dropdown-toggle.btn-limedark:focus,
.btn-limedark:active.focus,
.btn-limedark.active.focus,
.open > .dropdown-toggle.btn-limedark.focus {
  color: #ffffff;
  background-color: #60bf00;
  border-color: #53a600;
}
.btn-limedark:active,
.btn-limedark.active,
.open > .dropdown-toggle.btn-limedark {
  background-image: none;
}
.btn-limedark.disabled:hover,
.btn-limedark[disabled]:hover,
fieldset[disabled] .btn-limedark:hover,
.btn-limedark.disabled:focus,
.btn-limedark[disabled]:focus,
fieldset[disabled] .btn-limedark:focus,
.btn-limedark.disabled.focus,
.btn-limedark[disabled].focus,
fieldset[disabled] .btn-limedark.focus {
  background-color: #468c00;
  border-color: #346800;
}
.btn-limedark .badge {
  color: #468c00;
  background-color: #ffffff;
}

/* Codemirror changes, else not picked up */
.CodeMirror {
    border: 1px solid #ccc;

}