<span div class="lds-help-container">
    <span class="lds-help-logo">
        <i class="fa" [ngClass]="logoClass"></i>
    </span>
    <div class="lds-help-item">
        <span *ngIf="htmlContent" [ngClass]="getCss()">{{htmlContent}}</span>
        <span *ngIf="!htmlContent" [ngClass]="getCss()"><ng-content></ng-content></span>
    </div>
</span >