div.lds-help-item {
    background-color: #444;
    background-color: rgba(68,68,68,0.9);
    color: #eee;
    padding: 4px 8px;
    display: none;
    z-index: 9000;
    position: fixed;
    max-width: 400px;
    font-size: 13px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: normal;
    top: 0px;
    left: 0px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently*/

    cursor: help;

}

span.lds-help-logo {
    cursor: help;
    color: #444;
}

.pre {
    display: block;
    font-family: monospace;
    white-space: pre-line;
}