div.statusbar {
    position: absolute;
    width: auto;
    height: auto;
    
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    
    padding: 4px 12px;
    font-size: small;
    color: #bbb;
    font-weight: normal;
    
    background-color: #455E4E;
    
    text-align: center;
    
    display: flex;
    justify-content: space-between;
    z-index: 10;
    
}

div.statusbar div:nth-child(1) {
    flex: 1 1 100px;
    text-align: left;
}

div.statusbar div:nth-child(2) {
    flex: 1 1 auto;
    text-align: center;
}

div.statusbar div:nth-child(3) {
    flex: 1 1 auto;
    text-align: right;
}