<lds-panel-container minHeight="auto"  minWidth="400px" width="650px">
    <div class="row">
        <div class="col-sm-12">
            <div class="title inline-help">Add a new configurable property</div>
            <lds-help>
                Pick the type for this new property and give it a name.
            </lds-help>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="myForm" class="form" (submit)="onSubmit()">


                <div class="form-group">
                    <label class="control-label">Property name</label>
                    <input type="text" class="form-control" formControlName="name">
                    <div *ngIf="myForm.controls.name.errors">
                        <p *ngIf="myForm.controls.name.dirty && myForm.controls.name.errors.required" class="text-danger">The property name is required.</p>
                        <p *ngIf="myForm.controls.name.errors.pattern" class="text-danger">The property name must start with a lowercase letter, and contain only [a-zA-Z0-9].</p>
                        <p *ngIf="myForm.controls.name.errors.notUnique" class="text-danger">That property already exists, first go back and delete it.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Property Type</label>
                    <select class="form-control" formControlName="type">
                        <option value="boolean">Boolean</option>
                        <option value="double">FloatNumber</option>
                        <option value="long">IntNumber</option>
                        <option value="java.lang.String">String</option>
                        <option value="java.lang.String[]">String[]</option>
                    </select>
                    <div *ngIf="myForm.controls.type.errors">
                        <p *ngIf="myForm.controls.type.dirty && myForm.controls.type.errors.required" class="text-danger">The property type is required.</p>
                    </div>
                </div>

                <div class="form-group" *ngIf="myForm.controls.type.value === 'java.lang.String'">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" formControlName="restrictValues"> Restrict values
                        </span>
                        <input type="text" class="form-control" formControlName="possibleValues" [disabled]="!myForm.controls.restrictValues.value">
                    </div>
                </div>

                <div class="form-group">
                    <div class="pull-right">
                        <button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!isValid()">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</lds-panel-container>