.inline-input {
    display: inline-block;
    width: calc(100% - 42px);
    left: 0px;
    right: 0px; 
    top: 1px;
    position: relative; 
}

.inline-input.array {
    width: calc(100% - 84px);
}

.inline-input.array.not-first {
    width: calc(100% - 84px);
    margin-left: 41px;
}

.inline-input-container {
    width: 100%; 
    position: relative;
}