<lds-panel-container minHeight="auto" minWidth="500px" width="800px">
    <div class="row">
        <div class="col-sm-12">
            <div class="title inline-help"><i class="fa fa-columns"></i> Edit configuration</div>
            <lds-help *ngIf="hasNoTemplate()">
                You can add configurable properties to this instance and make it into a Configurable Instance type.
            </lds-help>
            <lds-help *ngIf="isFactoryInstance()">
                You can edit existing properties of this factory instantiation.
            </lds-help>
            <lds-help *ngIf="isConfigurableInstance()">
                You can edit, add and remove properties of this Configurable Instance.
            </lds-help>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="myForm" class="form" (submit)="onSubmit()">

                <div *ngIf="vm.configEntries.length > 0">

                    <div *ngFor="let entry of vm.configEntries; let i=index">

                        <div class="form-group" [ngSwitch]="entry.simpleType">
                            <div *ngSwitchCase="'text'">
                                <label class="control-label">{{entry.name}}</label>
                                <lds-help *ngIf="entry.description">{{entry.description}}</lds-help>

                                <div class="inline-input-container" *ngIf="isConfigurableInstance() || isFactory()">
                                    <button type="button" class="btn btn-danger" (click)="onRemoveProperty(entry.name)"><i class="fa fa-minus-circle"></i></button>
                                    <input type="text" class="form-control inline-input" formControlName="{{entry.name}}" required>
                                </div>

                                <div *ngIf="isFactoryInstance()">
                                    <input type="text" class="form-control" formControlName="{{entry.name}}" required>
                                </div>

                                <div *ngIf="myForm.controls[entry.name].dirty && myForm.controls[entry.name].errors">
                                    <p *ngIf="myForm.controls[entry.name].errors.required" class="text-danger">This value is required.</p>
                                    <p *ngIf="myForm.controls[entry.name].errors.pattern" class="text-danger">This is not the correct format for this type.</p>
                                </div>
                            </div>

                             <div *ngSwitchCase="'array'">
                                <label class="control-label">{{entry.name}}</label>
                                <lds-help *ngIf="entry.description">{{entry.description}}</lds-help>
                                <div class="inline-input-container" *ngIf="isConfigurableInstance() || isFactory()">
                                    <button type="button" class="btn btn-danger" (click)="onRemoveProperty(entry.name)"><i class="fa fa-minus-circle"></i></button>
                                    <input *ngFor="let v of entry.possibleValues; let idx=index; let first=first" type="text" class="form-control inline-input array" [ngClass]="{'not-first':!first}" formControlName="{{entry.name+idx}}" value="{{v}}">
                                    <button type="button" class="btn btn-success" (click)="addEntry(entry, entry.possibleValues.length)"><span class="fa fa-plus"></span></button>
                                </div>
                                <div *ngIf="isFactoryInstance()">
                                    <input *ngFor="let v of entry.possibleValues; let idx=index" type="text" class="form-control inline-input" formControlName="{{entry.name+idx}}" value="{{v}}">
                                    <button type="button" class="btn btn-success" (click)="addEntry(entry, entry.possibleValues.length)"><span class="fa fa-plus"></span></button>
                                </div>
                            </div>

                            <div *ngSwitchCase="'number'">
                                <label class="control-label">{{entry.name}}</label>
                                <lds-help *ngIf="entry.description">{{entry.description}}</lds-help>

                                <div class="inline-input-container" *ngIf="isConfigurableInstance() || isFactory()">
                                    <button type="button" class="btn btn-danger" (click)="onRemoveProperty(entry.name)"><i class="fa fa-minus-circle"></i></button>
                                    <input type="number" class="form-control inline-input" formControlName="{{entry.name}}" required>
                                </div>

                                <div *ngIf="isFactoryInstance()">
                                    <input type="number" class="form-control" formControlName="{{entry.name}}" required>
                                </div>

                                <div *ngIf="myForm.controls[entry.name].dirty && myForm.controls[entry.name].errors">
                                    <p *ngIf="myForm.controls[entry.name].errors.required" class="text-danger">This value is required.</p>
                                </div>
                            </div>


                            <div *ngSwitchCase="'checkbox'">
                                <div class="inline-input-container" *ngIf="isConfigurableInstance() || isFactory()">
                                    <button type="button" class="btn btn-danger" (click)="onRemoveProperty(entry.name)"><i class="fa fa-minus-circle"></i></button>
                                    <div class="checkbox  inline-input">
                                        <label>
                                            <input type="checkbox" formControlName="{{entry.name}}"> {{entry.name}}
                                            <lds-help *ngIf="entry.description">{{entry.description}}</lds-help>
                                        </label>
                                    </div>
                                </div>

                                <div *ngIf="isFactoryInstance()">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" formControlName="{{entry.name}}"> {{entry.name}}
                                            <lds-help *ngIf="entry.description">{{entry.description}}</lds-help>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div *ngSwitchCase="'select'">
                                <label class="control-label">{{entry.name}}</label>
                                <lds-help *ngIf="entry.description">{{entry.description}}</lds-help>

                                <div class="inline-input-container" *ngIf="isConfigurableInstance() || isFactory()">
                                    <button type="button" class="btn btn-danger" (click)="onRemoveProperty(entry.name)"><i class="fa fa-minus-circle"></i></button>
                                    <select class="form-control inline-input" formControlName="{{entry.name}}" required>
                                        <option *ngFor="let opt of entry.possibleValues" value="{{opt}}">{{opt}}</option>
                                    </select>
                                </div>

                                <div *ngIf="isFactoryInstance()">
                                    <select class="form-control" formControlName="{{entry.name}}" required>
                                        <option *ngFor="let opt of entry.possibleValues" value="{{opt}}">{{opt}}</option>
                                    </select>
                                </div>

                                <div *ngIf="myForm.controls[entry.name].dirty && myForm.controls[entry.name].errors">
                                    <p *ngIf="myForm.controls[entry.name].errors.required" class="text-danger">This value is required.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="form-group">
                    <div class="pull-left" *ngIf="hasNoTemplate() || isConfigurableInstance() || isFactory()">
                        <button type="button" class="btn btn-success" (click)="onAddProperty()"><i class="fa fa-plus-circle"></i> Add property</button>
                    </div>
                    <div class="pull-right">
                        <button type="reset" class="btn btn-link" (click)="cancelPanel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!isValid()">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</lds-panel-container>