<lds-panel-container minHeight="auto" minWidth="60%">
    <div class="row">
        <div class="col-sm-12">
            <div class="title inline-help">Create new type</div>
            <lds-help>
              A type can be used with a type reference. It allows you to use this typeRef in documentation formats.
            </lds-help>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="myForm" class="form" (submit)="onSubmit()">
                <div class="form-group">
                    <label for="inputDescription" class="control-label">TypeRef name</label>
                    <input type="text" class="form-control" formControlName="name" #inputName>
                    <div *ngIf="myForm.controls.name.dirty && myForm.controls.name.errors">
                        <p class="text-danger" *ngIf="myForm.controls.name.errors.required">This field is required.</p>
                        <p class="text-danger" *ngIf="myForm.controls.name.errors.pattern">Must start with a capital letter, contain no spaces and special characters.</p>
                    </div>
                </div>

                <div class="form-group pull-right">
                    <button type="button" class="btn btn-link" (click)="onCancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</lds-panel-container>