div.select-cont {
    position: relative;
    height: 100%;
}

select.typeSelect {
    position: absolute;
    top: 0px;
    bottom: 34px;
    width: 100%;    
    overflow: auto;
    padding: 4px 2px;
}

select.typeSelect option {
    padding: 2px 4px;
}

div#typeEditor {
    height: 100%;
    border: 1px solid rgb(169,169,169);
}

div.my-btns {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

div.types-btn-bar {
    float: right;
    text-align: right;
}

div.types-btn-bar > * {
    display: inline-block;
}

div.flex-cont {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 15px;
    right: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

div.flex-left {
    flex: 0 0 250px;
    padding-right: 5px;
    margin-bottom: 1px;
    align-self: stretch;
}

div.flex-right {
    flex: 1 1 auto;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

div.flex-right-validation {
    flex: 0 0 80px;
    align-self: stretch;

    border: 1px solid rgb(169,169,169);
    background-color: lightyellow;
    margin-bottom: 4px;
    padding: 4px 8px;
    overflow: auto;
}

div.flex-right-editor {
    flex: 1 1 100%;
    align-self: stretch;
}

div.my-btn {
    position: absolute;
    bottom: 10px;
    right: 15px;
}