<lds-panel-container minHeight="90%" minWidth="90%">

    <div class="title inline-help"><i class="fa fa-lg fa-sitemap"></i> Type editor</div>
    <lds-help>
        Create embedded types with this editor. Each type will be embedded in this slice. Activating the slice, will make the type
        available for all other slices and their segments.
    </lds-help>
    <div class="types-btn-bar">
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-default" (click)="onValidateSchema()" [disabled]="!selected.value || (selected.value.length === 0 )"><i class="fa fa-lg fa-check-square-o"></i> Check schema</button>
            <!--<button type="button" class="btn btn-danger" (click)="onDelType()" [disabled]="!selected.value || !selected.value.length > 0"><i class="fa fa-lg fa-minus"></i></button>-->
        </div>
    </div>


    <form [formGroup]="myForm" class="form" (submit)="onSubmit()">
        <div class="flex-cont">

            <div class="flex-left">
                <div class="select-cont">
                    <select class="form-control" class="typeSelect" size="{{getTypeAmount()}}" formControlName="typeSelect" #selected>
                        <option *ngFor="let type of listTypeNames()" value="{{type}}">{{getLabel(type)}}</option>
                    </select>

                    <div class="btn-group btn-group-justified my-btns">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-success" (click)="onAddType()"><i class="fa fa-lg fa-plus"></i></button>
                        </div>
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-danger" (click)="onDelType()" [disabled]="!selected.value || (selected.value.length === 0)"><i class="fa fa-lg fa-minus"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-right">
                <div *ngIf="checked" class="flex-right-validation">
                    <button type="button" class="close" (click)="onDismissValidationBox()"><span aria-hidden="true">&times;</span></button>
                    <span [ngClass]="{'text-danger': !checked.valid, 'text-success': checked.valid}">{{checked.msg}}</span>
                </div>
                <div class="flex-right-editor">

                    <div id="typeEditor"></div>
                </div>
            </div>

        </div>
        <div class="my-btn">
            <button type="button" class="btn btn-link" (click)="onCancel()">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

</lds-panel-container>