<lds-panel-container minHeight="100px" maxHeight="80%" minWidth="60%">

    <div class="title inline-help"><i class="fa fa-eye"></i> View installable details</div>
    <lds-help>
        This view shows some of the inner details of the installable.
    </lds-help>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Module</th>
                <th>{{moduleId}} <small>({{moduleVersion}})</small></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Slices</td>
                <td>{{installables ? installables.length : 0}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-condensed" *ngFor="let installable of installables">
        <thead>
            <tr>
                <th>Slice</th>
                <th>{{installable.id}} <small>({{installable.version}})</small></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="installable.description">
                <td colspan="2">{{installable.description}}</td>
            </tr>
            <tr *ngIf="installable.segments">
                <td>Segments</td>
                <td>
                    <div *ngFor="let s of installable.segments">
                        {{s.id}} <small>({{s.version}})</small> <small class="smallcaps">{{s.language | uppercase}}</small>
                    </div>
                </td>
            </tr>
            <tr *ngIf="httpOps[installable.id+installable.version]">
                <td>Http operations</td>
                <td>
                    <div *ngIf="httpOps[installable.id+installable.version].length === 0">-</div>
                    <div *ngFor="let op of httpOps[installable.id+installable.version]">
                        <span class="httpOp">{{op.method | lowercase}}</span> <small>{{op.path}}</small>
                    </div>
                </td>
            </tr>
            <tr *ngIf="types[installable.id+installable.version]">
                <td>Types</td>
                <td>
                    <div *ngIf="types[installable.id+installable.version].length === 0">-</div>
                    <div *ngFor="let t of types[installable.id+installable.version]">
                        {{t}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="pull-right">
        <button type="button" class="btn btn-link" (click)="onCancel()">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</lds-panel-container>