div.sidebar {
    position: absolute;
    width: 70px;
    height: auto;
    
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    background-color: #444;
    
    box-shadow: 0 10px 10px -8px #333 inset,
                0 -10px 10px -8px #333 inset;
                

    padding: 15px 0 0 0;
}

div.buttonrow {
    margin: 0 auto;
    padding: 0;
    width: 58px;
}

div.buttonrow.buttonrow-divider {
    margin: 0 auto;
    width: 58px;
    height: 14px;
}