<div class="sidebar" (click)="blurAfterAction($event)">
    
    <div class="buttonrow buttonrow-section">main tools</div>
    <div class="buttonrow">
        <toolbar-btn [large]="false" [action]="onCreateSegment" [myTooltip]="'Create Segment'">
            <i class="fa fa-plus fa-lg"></i>
        </toolbar-btn>
        <toolbar-btn [large]="false" [action]="onImportSegment" [myTooltip]="'Import Segment'">
            <i class="fa fa-download fa-lg"></i>
        </toolbar-btn>
    </div>
    <div class="buttonrow">
        <toolbar-btn [large]="true" [action]="onRemoveObject" [disabled]="empty" [myTooltip]="'Remove selection'">
            <i class="fa fa-times fa-2x"></i>
        </toolbar-btn>
    </div>
    
    <div class="buttonrow buttonrow-divider"></div>
    
    <div class="buttonrow buttonrow-section">properties</div>
    
    <div class="buttonrow">
        <toolbar-btn [action]="onAssignEntryPoint" [disabled]="empty || readOnly || factoryInstance || link" [myTooltip]="'Assign entry points'">
            <i class="fa fa-lg fa-dot-circle-o"></i>
        </toolbar-btn>
        <toolbar-btn [action]="onGeneralConfig" [disabled]="empty || readOnly || factoryInstance || link" [myTooltip]="'General options'">
            <i class="fa fa-lg fa-cog"></i>
        </toolbar-btn>
    </div>
    

    <div class="buttonrow">
        <toolbar-btn [action]="onScriptPanel" [disabled]="empty || readOnly || factoryInstance || link" [myTooltip]="'Script editor'">
            <i class="fa fa-lg fa-microchip"></i>
        </toolbar-btn>
        <toolbar-btn [action]="onConfigureAspects" [disabled]="empty || readOnly || factoryInstance || link" [myTooltip]="'Configure aspects'">
            <i class="fa fa-lg fa-magic"></i>
        </toolbar-btn>
    </div>
    
    <!--<div class="buttonrow">
        <toolbar-btn [action]="onConfigureProperties" [disabled]="empty || readOnly || link" [myTooltip]="'Configure properties'">
            <i class="fa fa-lg fa-columns"></i>
        </toolbar-btn>
        <toolbar-btn [action]="onChangeColor" [disabled]="empty || link" [myTooltip]="'Change color'">
            <i class="fa fa-lg fa-paint-brush"></i>
        </toolbar-btn>
    </div>-->

    <!--<div class="buttonrow buttonrow-divider"></div>-->

    <div class="buttonrow">
        <toolbar-btn [action]="onDocumentationView" [disabled]="empty || link" [myTooltip]="'View documentation'">
            <i class="fa fa-lg fa-info"></i>
        </toolbar-btn>
        <toolbar-btn [action]="onConfigureSchemas" [disabled]="empty || readOnly || factoryInstance || link" [myTooltip]="'Configure schemas'">
            <i class="fa fa-lg fa-book"></i>
        </toolbar-btn>
    </div>

    <div class="buttonrow buttonrow-divider"></div>
    
    <div class="buttonrow buttonrow-section">editors</div>
    
    <div class="buttonrow">
        <toolbar-btn [large]="true" [action]="onTypeEditor" [myTooltip]="'Open type editor'">
            <i class="fa fa-lg fa-sitemap"></i>
        </toolbar-btn>
    </div>
    
    
    
    <div class="buttonrow buttonrow-divider"></div>
    
    <div class="buttonrow buttonrow-section">info layers</div>
    
    <div class="buttonrow">
        <toolbar-btn [large]="true" [action]="onInfoLayer" [myTooltip]="'Toggle badge info layer'">
            <i class="fa fa-2x" [ngClass]="{'fa-toggle-on': infoLayer, 'fa-toggle-off': !infoLayer}"></i>
        </toolbar-btn>
    </div>

</div>