div.sidebar {
    position: absolute;
    width: 70px;
    height: auto;
    
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

    background-color: #ccc;
    
    box-shadow: 0 10px 10px -8px #333 inset,
                0 -10px 10px -8px #333 inset;
                

    padding: 15px 1px 0 0;
    border-right: 1px solid #bbb;
}

div.buttonrow {
    margin: 0 auto;
    padding: 0;
    width: 58px;
}

div.buttonrow.buttonrow-divider {
    margin: 0 auto;
    width: 58px;
    height: 2px;
    border-bottom: 1px solid #bbb;
}

div.buttonrow-divider + div.buttonrow {
    margin-top: 4px;
}

div.buttonrow-divider + div.buttonrow-section {
    margin-top: 8px;
}

div.buttonrow.buttonrow-section {
    margin: 8px auto 8px;
    width: 58px;
    height: 14px;
    color: #888;
    font-size: 11px;
    text-align: center;
    cursor: default;

    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}