.lds-ctx-menu-panel {
    display: block;
    z-index: 200;
    background-color: #f6f6f6;

    width: auto;
    height: auto;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0 #ccc;
}

.lds-ctx-menu {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: relative;
}

:host >>> .divider {
   height: 1px;
   background-color: #eee;
}

:host >>> .lds-ctx-menu-item {
    padding: 0.2em 0;
    background-color: #fcfcfc;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;  
}

:host >>> .lds-ctx-menu-item:hover {
    background-color: #f6f6f6;
    cursor: pointer;
}

:host >>> .logo {
    display: inline-block;
    width: 25px;
    border-right: 1px solid #eee;
    padding: 0 6px;
    text-align: center;
}

:host >>> .title {
    padding-left: 4px;
    padding-right: 0.6em;
}