div.my-config-panel-container {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
   
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 99;
}

div.my-config-panel-container::before {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    
    content: "";
    background-color: #666;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.my-config-panel-item {
    flex: 0 1 80%;
    height: 60%;
    
    background-color: white;
    background-color: rgba(255,255,255,0.8);
    filter: alpha(opacity=80); /* For IE8 and earlier */
    
    border: 4px solid #60BF00;
    z-index: 101;
    
    -webkit-box-shadow: 0px 0px 30px 10px rgb(255,255,255);
    -moz-box-shadow: 0px 0px 30px 10px rgb(255,255,255);
    box-shadow: 0px 0px 30px 10px rgb(255,255,255);
}

div.content {
    padding: 0.2em 0.8em;
}