<lds-panel-container minWidth="60%" minHeight="auto">
	<div class="row">
		<div class="col-sm-12">
			<div class="title inline-help">Setup query path</div>
			<lds-help>
				Add information to the query path. Query parameters will work without this information too, but it allows us to facilitate
				working with them through the editor.
			</lds-help>
		</div>
	</div>
	<form [formGroup]="myForm" (submit)="onSubmit()">
		<div class="row">
			<div class="col-sm-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th class="text-center">Required</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let prop of props">
							<td>{{prop.name}}</td>
							<td>{{getType(prop.type)}}</td>
							<td class="text-center"><span [innerHtml]="prop.required | checkmark"></span></td>
							<td>{{prop.description}}</td>
							<td>
								<button type="button" class="btn btn-danger btn-xs" (click)="removeProp(prop)"><span class="fa fa-times"></span></button>
							</td>
						</tr>
						<tr>
							<td>
								<input type="text" class="form-control input-sm" formControlName="name" placeholder="name">
							</td>
							<td>
								<select class="form-control input-sm" formControlName="type">
									<option value="boolean">boolean</option>
									<option value="FloatNumber">float number</option>
									<option value="IntNumber">integer number</option>
									<option value="String">string</option>
								</select>
							</td>
							<td class="text-center">
								<input type="checkbox" formControlName="required" class="checkbox" style="display: inline-block; vertical-align: middle;">
							</td>
							<td>
								<input type="text"  formControlName="description" class="form-control input-sm" placeholder="description">
							</td>
							<td>
								<button type="button" class="btn btn-success btn-sm" (click)="addProp()" [disabled]="cannotAddProp()"><span class="fa fa-plus fa-lg"></span></button>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="pull-right">
					<button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
					<button type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>

			</div>
		</div>
	</form>
</lds-panel-container>