<lds-panel-container min-width="80%" min-height="80%">
	<div class="title inline-help"><i class="fa fa-info-circle"></i> Documentation schemas</div>
	<lds-help>
		By using a simple json-syntax gramar you can document your argument formats. Documentation does not only have the benefit
		of seeing it in the script panel dependency-tabs, they also allow for validation based on the described input and/or output
		formats. If a incoming or outgoing message fails to validate, the execution path will be stopped. You have to also switch
		the validation aspect on for that.
	</lds-help>
	<div class="my-cont">
		<div class="my-item">
			<div id="my-tabs">
				<ng-template ngFor let-p [ngForOf]="views" let-first="first">
					<div class="my-tab" *ngIf="!first" [ngClass]="isActive(p.label)" (click)="openTab(p.label)">
						<i class="fa fa-sign-in"></i> {{p.label}}
						<span tooltip="edit parameter name" class="edit-btn" *ngIf="selTab === p.label" (click)="editParamName($event,p)">
							<i class="fa fa-pencil-square "></i>
						</span>
					</div>
				</ng-template>
				<div [ngSwitch]="addButtonStyle()">
					<div class="my-tab" (click)="addParam()" tooltip="add parameter" placement="right" *ngSwitchCase="'canAdd'">
						<i class="fa fa-plus-circle "></i>
					</div>
					<div class="my-tab" tooltip="web endpoint: max 1 parameter" placement="right" *ngSwitchCase="'noAdd'">
						<i class="fa fa-question-circle-o"></i>
					</div>
				</div>
				<div class="my-tab my-tab-right" [ngClass]="isActive('output')" (click)="openTab('output')">
					<i class="fa fa-sign-out "></i> output
				</div>
			</div>
		</div>
		<div class="my-item my-toolbar" *ngFor="let param of views; let i = index" [hidden]="selTab !== param.label">
			<div class="btn-toolbar pull-left" role="toolbar" aria-label="...">
				<div class="btn-group btn-group-xs" role="group" aria-label="...">
					<button type="button" class="btn btn-default" (click)="insertType(param.label)"><i class="fa fa-share"></i> Insert type reference</button>
				</div>
				<div class="btn-group btn-group-xs" role="group" aria-label="..." *ngIf="selTab !== 'output'">
					<button type="button" class="btn btn-danger" (click)="delParam(param.label)"><i class="fa fa-trash"></i> Delete {{param.label}}</button>
				</div>
			</div>
			<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
				<div class="btn-group btn-group-xs" role="group" aria-label="...">
					<button type="button" class="btn" [ngClass]="getPreviewButtonCss(param)" (click)="togglePreview(param)">
						<span class="fa fa-lg" [ngClass]="getPreviewCss(param)"></span> Preview
					</button>
				</div>
			</div>
		</div>
		<div class="my-item-stretch" *ngFor="let param of views; let i = index" [hidden]="selTab !== param.label">
			<div id="codeEditor[{{i}}]" class="my-code"></div>
		</div>
		<div class="my-item">
			<div class="pull-left" *ngIf="invalidJson">
				<p class="text-danger">{{errorMsg}}</p>
			</div>
			<div class="my-buttons pull-right">
				<button class="btn btn-link" type="button" (click)="cancelPanel()">Discard</button>
				<button class="btn btn-primary" type="submit" (click)="onSubmit()">Save</button>
			</div>
		</div>
	</div>
</lds-panel-container>