.my-code {
    height: 100%;
    width: 100%;
    position: absolute;
}

.my-checkbox {
    margin-top: 0;
}

.my-item.my-toolbar {
    padding: 0.2em;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

/**** script.panel.css *******/
#my-tabs {
    display: block;
    padding: 0;
    border: 1px solid #ccc;
    border-bottom: none;
    overflow:auto;
}

#my-tabs .my-tab {
    display: table-cell;
    border-right: 1px solid #e0e0e0;
    border-bottom: 5px solid transparent; 
    padding: 4px 8px 2px;
    font-family: monospace;
    font-size: 14px;
    float:left;
}

#my-tabs .my-tab:first-child {
    font-family: monospace;
    font-size: 14px;
}

#my-tabs .my-tab.active {
    background-color: #f7f7f7;
    border-bottom: 5px solid #60bf00;
}

#my-tabs .my-tab:hover {
    background-color: #e5e5e5;
    cursor: pointer;
    padding: 4px 8px 2px;
    margin: 0;
}

#my-tabs .my-tab.my-tab-right {
    position: absolute;
    right: 1px;
    top: 1px;
    border-right: none;
    border-left: 1px solid #e0e0e0;
} 

lds-panel-container h4 {
    margin-top: 0;
}

.my-cont {
    /*border: 1px solid #60bf00;*/
    position: absolute;
    top: 40px;
    bottom: 5px;
    left: 15px;
    right: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
}

.my-item {   
    flex: 0 0 auto;
    align-self: stretch;
}

.my-buttons {
    padding: 5px 0;
}

.my-item-stretch {
    flex: 1 1 auto;
    align-self: stretch;
    position: relative;
    border: 1px solid #ccc;
}

.edit-btn:hover {
    color: #60bf00;
}