div.slice-info {
    position: fixed;
    bottom: 25px;
    left: 70px;

    padding: 2px 4px 5px 7px;
    margin: 0 0 -4px -3px;

    border: 2px solid #bbb;
    border-radius: 4px;
    background-color: #fefefe;
    z-index:9;

    box-shadow: 8px 0px 6px -4px #ccc inset,                  
                0px -8px 6px -4px #ccc inset,
                -2px 0px 15px 0px #ccc,
                0px 2px 15px 0px #ccc;
}

div.slice-id {
    color: #777;
    font-style: italic;
    font-weight: bold;
    font-size: 13px;
}