.wrapper{
   width: 100%;
   margin: 0 auto;
}

.header{
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   height: 50px;
}

.content {
    position: absolute;
    top: 50px;
    padding: 1em 2em;
}

table.slices {
    border-spacing: 0;
    border-collapse: separate;
}

.default-cursor {
    cursor: default !important;
}

tr.deployed td:first-child  {
    border-left: 2px solid #8ED944;
}

tr.deployed td:last-child {
    border-right: 2px solid #8ED944;
}

 .btn-group-right {
     position: absolute;
     right: 1em;
 }

  .btn-group-right .btn-group {
     display: inline-block;
     margin-left: 5px;
 }