<div class="header">
    <topbar>
        <div class="btn-toolbar" role="toolbar" aria-label="...">

        </div>
    </topbar>
</div>

<div class="row">
    <div class="col-sm-5 col-sm-offset-5 col-md-3 col-md-offset-4">
        <p class="help-block"><em>Please login first..</em></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" [formGroup]="myForm">

            <div class="form-group">
                <label for="inputLogin" class="col-sm-4 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">Login</label>
                <div class="col-sm-5 col-md-6">
                    <input type="text" id="inputLogin" class="form-control" formControlName="login">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPass" class="col-sm-4 col-sm-offset-1 col-md-2 col-md-offset-2 control-label">Password</label>
                <div class="col-sm-5 col-md-6">
                    <input type="password" id="inputPass" class="form-control" formControlName="pass">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-5 col-md-3 col-md-offset-4">
                    <button class="btn btn-primary" (click)="login()">Login</button>
                </div>
            </div>
            
        </form>
    </div>
</div>