button.toolbar-btn {
    margin: 0px -2px 2px 0px !important;
    width: 28px;
    height: 28px;
    color: #fff;
    background-color: #bbb;
    border: 1px solid #777;
}

button.toolbar-btn.toolbar-btn-big {
    width:  58px !important;
    height: 58px !important;
}

button.toolbar-btn:hover {
    color: white;
    cursor: pointer;
    border-color: #eee;
    background-color: #bfbfbf;
}

button.toolbar-btn:active {
    color: #eee;
    cursor: pointer;
    border-color: white;
    background-color: #989898;
}

button.toolbar-btn.disabled {
    color: #808080;
    background-color: #9f9f9f;
    border: 1px solid #888;
    cursor: default;
}

