button.toolbar-btn {
    margin: 0px -2px 2px 0px;
    width: 28px;
    height: 28px;
    color: #eee;
    background-color: #4a4a4a;
    border: 1px solid #666;
}

button.toolbar-btn.toolbar-btn-big {
    width:  58px !important;
    height: 42px !important;
}

button.toolbar-btn:hover {
    color: white;
    cursor: pointer;
    border-color: white;
    background-color: #555;
}

button.toolbar-btn:active {
    color: white;
    cursor: pointer;
    border-color: white;
    background-color: #333;
}

button.toolbar-btn.disabled {
    color: #505050;
    background-color: #424242;
    border: 1px solid #505050;
    cursor: default;
}

