button.toolbar-btn {
    margin: 0px -2px 2px 0px !important;
    width: 28px;
    height: 28px;
    color: #606060;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 4px 1px;
}

button.toolbar-btn.toolbar-btn-big {
    width:  58px !important;
    height: 36px !important;
}

button.toolbar-btn:hover {
    cursor: pointer;
    border-color: #999;
    border-radius: 4px;
}

button.toolbar-btn:active {
    color: #333;
    cursor: pointer;
    border-color: #999;
    background-color: #c2c2c2;
}

button.toolbar-btn.disabled {
    color: #999;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: default;
}

