<h4 *ngIf="variable.asVar && variable.collection"><i class="fa fa-ellipsis-h"></i> Multi-link variable <em>{{variable.label}}</em> documentation</h4>
<h4 *ngIf="variable.asVar && !variable.collection"><i class="fa fa-puzzle-piece"></i> Segment variable <em>{{variable.label}}</em> documentation</h4>
<p class="help-block" *ngIf="variable.asVar && variable.collection">
	<code>{{variable.label}}</code> is a collection of multiple Segments that can be called by using their <code>apply(...)</code>	method. (e.g. <code>{{variable.label}}[0].apply()</code>)
</p>
<p class="help-block" *ngIf="variable.asVar && !variable.collection">
	<code>{{variable.label}}</code> is a variable that represents another Segment that can be called by using its <code>apply(...)</code>	method.
</p>
<p class="help-block" *ngIf="description">
	<em>{{description}}</em>
</p>
<div *ngIf="variable.collection">
	<h5>Contained Segments</h5>
	This collections contains links to the following Segments, in no particular order(!):
	<ul>
		<li *ngFor="let s of variable.segments">{{s}}</li>
	</ul>
	You can call their respective functions. Please refer to the individual documentation of each of these segments.
</div>
<div *ngIf="!variable.collection && functions.length > 0">
	<h5>Available functions</h5>
	<div class="indent">
		<div *ngFor="let f of functions" class="func">
			<div class="sign" style="white-space: normal">
				{{f.id}}(<span *ngFor="let a of f.in; let last=last"><em>{{a.label}}</em><span *ngIf="!last">, </span></span>)
			</div>
			<div class="desc" *ngIf="f.description">{{f.description}}</div>
			<div class="in" *ngIf="f.in">
				<div class="param" *ngFor="let a of f.in">
					<div class="name">{{a.label}}</div>
					<pre>{{a.schema | resolve | async | json: '2'}}</pre>
				</div>
			</div>
			<div class="out" *ngIf="f.out">
				<div class="param">
					<div class="name">returns</div>
					<pre>{{f.out.schema | resolve | async | json: '2'}}</pre>
				</div>
			</div>

			<!--<div *ngIf="(functions.length === 1) || ('apply' !== f)">
				<div class="sign" style="white-space: normal">
					{{f}}(<span *ngFor="let a of docs[f].in;let last = last"><em>{{a.label}}</em><span *ngIf="!last">, </span></span>)
				</div>
				<div class="in" *ngIf="docs[f].in">
					<div class="param" *ngFor="let a of docs[f].in">
						<div class="name"><em>{{a.label}}</em></div>
						<pre>{{a.schema | resolve | async | json: '2'}}</pre>
					</div>
				</div>
				<div class="out" *ngIf="docs[f].out">
					<div class="param">
						<div class="name"><em>returns</em></div>
						<pre>{{docs[f].out.schema | resolve | async | json: '2'}}</pre>
					</div>
				</div>
			</div>-->
		</div>
	</div>
</div>