<h4><i class="fa fa-book"></i> LimeDS javascript library</h4>
<p class="help-block">
    <code>_limeds</code> is a utility javascript library automatically available in each LimeDS Segment script. It provides
    a number of usefull functions, that work on both native JS objects and our own types transparantly.
</p>
<p class="help-block">
    Invoke the functions below on the exposed <code>_limeds</code> object in any LimeDS script.
</p>
<h5>Collection functions</h5>
<div class="indent">
    <div class="func">
        <div class="sign">
            concat(<em>array</em>, <em>array</em>):
            <span class="typeArray">Array</span>
        </div>
        <div class="desc">
            Returns a new array that contains the elements of both parameter arrays in their respective order.
        </div>
    </div>
    <div class="func">
        <div class="sign">
            every(<em>object</em>|<em>array</em>, <em>predicateFunction</em>):
            <span class="typeBoolean">boolean</span>
        </div>
        <div class="desc">
            Returns true if the provided predicate resolves to true for each entry of the supplied container type (object or array).
        </div>
    </div>
    <div class="func">
        <div class="sign">
            filter(<em>object</em>|<em>array</em>, <em>filterFunction</em>):
            <span class="typeObject">Object</span>|
            <span class="typeArray">Array</span>
        </div>
        <div class="desc">
            Returns a filtered copy of the supplied container type (object or array) based on the provided filter function. When the
            container is an object, a filter function with two arguments should be provided (key, value).
        </div>
    </div>
    <div class="func">
        <div class="sign">
            forEach(<em>object</em>|<em>array</em>, <em>iterFunction</em>):
            <span class="typeVoid">void
                <span>
        </div>
        <div class="desc">
            Executes the provided iteration function for each entry of the supplied container type (object or array). When the container
            is an object, an iteration function with two arguments should be provided (key, value).
        </div>
    </div>
    <div class="func">
        <div class="sign">
            map(<em>object</em>|<em>array</em>, <em>mapperFunction</em>):
            <span class="typeObject">Object</span>|
            <span class="typeArray">Array</span>
        </div>
        <div class="desc">
            Returns an array obtained by executing the supplied mapping function on the provided container type (object or array). based
            on the provided filter function. When the container is an object, a mapping function with two arguments should
            be provided (key, value).
        </div>
    </div>
    <div class="func">
        <div class="sign">
            reduce(<em>array</em>, <em>reduceFunction</em>, <em>initialState</em>):
            <span class="typeAny">any
                <span>
        </div>
        <div class="desc">
            Reduces an array / list of values to a single value by applying the supplied reduceFunction to each entry. The last argument
            of this function is the initial value for the reduce operation. The supplied reduceFunction must have two arguments:
            the temporary value of the single value that is being built up and the current element that needs to be reduced.
            The function must always return the new temprary value.
        </div>
    </div>
    <div class="func">
        <div class="sign">
            some(<em>object</em>|<em>array</em>, <em>predicateFunction</em>):
            <span class="typeBoolean">boolean</span>
        </div>
        <div class="desc">
            Checks if there is a least one entry in the supplied container type (object or array) for which the supplied predicate function
            resolves to true. This operation returns immediately if this is the case.
        </div>
    </div>
</div>
<h5>Utility functions</h5>
<div class="indent">
    <div class="func">
        <div class="sign">
            cloneDeep(<em>object</em>):
            <span class="typeObject">Object</span>
        </div>
        <div class="desc">
            Returns a deep copy of the supplied container type (object or array)
        </div>
    </div>
    <div class="func">
        <div class="sign">
            has(<em>object</em>, <em>key</em>):
            <span class="typeBoolean">boolean</span>
        </div>
        <div class="desc">
            Checks if an object contains a specified key.
        </div>
    </div>
    <div class="func">
        <div class="sign">
            size(<em>object</em>):
            <span class="typeNumber">number</span>
        </div>
        <div class="desc">
            Returns the size of a container type (object or array).
        </div>
    </div>
    <div class="func">
        <div class="sign">
            isEmpty(<em>object</em>):
            <span class="typeBoolean">boolean</span>
        </div>
        <div class="desc">
            Checks if the supplied container type (object or array) is empty.
        </div>
    </div>
    <div class="func">
        <div class="sign">
            isEqual(<em>object</em>, <em>other</em>):
            <span class="typeBoolean">boolean</span>
        </div>
        <div class="desc">
            Checks if the two arguments are equal (value-based/identity equals semantics).
        </div>
    </div>
    <div class="func">
        <div class="sign">
            getIndexArray(<em>size</em>):
            <span class="typeArray">Array</span>
        </div>
        <div class="desc">
            Get an index array of a certain size, e.g. getIndexArray(3) produces [0,1,2];
        </div>
    </div>
    <div class="func">
        <div class="sign">
            getType(<em>object</em>):
            <span class="typeString">string</span>
        </div>
        <div class="desc">
            Returns the type of the arguments as a String.
        </div>
    </div>
    <div class="func">
        <div class="sign">
            isType(<em>object</em>):
            <span class="typeBoolean">boolean</span>
        </div>
        <div class="desc">
            Checks if the first argument is of the type described by the second argument as a String.
        </div>
    </div>
    <div class="func">
        <div class="sign">
            keySet(<em>object</em>):
            <span class="typeArray">Array</span>
        </div>
        <div class="desc">
            Returns the key-set of an object type as an array.
        </div>
    </div>
    <div class="func">
        <div class="sign">
            timestamp():
            <span class="typeNumber">number</span>
        </div>
        <div class="desc">
            Returns the current system time in milliseconds.
        </div>
    </div>
</div>