#my-tabs {
    padding: 0;
    border: 1px solid #ccc;
    border-bottom: none;
}

#my-tabs .my-tab {
    display: table-cell;
    border-right: 1px solid #e0e0e0;
    border-bottom: 5px solid transparent; 
    padding: 4px 8px 2px;
    font-family: monospace;
    font-size: 13px;
}

#my-tabs .my-tab:first-child {
    font-family: inherit;
    font-size: inherit;
}

#my-tabs .my-tab.active {
    background-color: #f7f7f7;
    border-bottom: 5px solid #60bf00;
}

#my-tabs .my-tab:hover {
    background-color: #e5e5e5;
    cursor: pointer;
    padding: 4px 8px 2px;
    margin: 0;
}
lds-panel-container h4 {
    margin-top: 0;
}

.my-cont {
    /*border: 1px solid #60bf00;*/
    position: absolute;
    top: 40px;
    bottom: 5px;
    left: 15px;
    right: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
}

.my-item {   
    flex: 0 0 auto;
    align-self: stretch;
}

.my-buttons {
    padding: 5px 0;
}

.my-item-stretch {
    flex: 1 1 auto;
    align-self: stretch;
    position: relative;
    border: 1px solid #ccc;
}

#code {
    width: 100%;
    height: 100%;
    position: absolute;
}

.var-info {
    position: absolute;
    background-color: white;
    padding: 5px 1em;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.var-info h4 .label {
    padding: .3em .6em .3em;
}

:host >>> h5 {
    font-size: 15px;
    font-weight: bold;

}

:host >>> h4 {
    font-weight: bold;
}

:host >>> div.func {
    margin: 6px 0 14px;
    padding-bottom: 6px;
    border-bottom: 1px dotted #ccc;
}

:host >>> .func .sign {
    font-family: monospace;
    font-size: 13px;
    font-weight: bold;
    color: darkblue;
}
:host >>> .func .sign em {
    color: #FD9B28;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
}

:host >>> div.indent {
    margin-left: 1em;
}

:host >>> h5 em {
    color: #FD9B28;
    text-decoration: none;
    font-style: normal;
}

:host >>> .func .desc {
    color: #888;
    margin-left: 1em;
    margin-bottom: 3px;
    font-size: 13px;
    font-style: italic;
}


:host >>> .func .in, :host >>> .func .out {
    /*margin-left: 1em;*/
}

:host >>> .func .param {
    margin-left: 1em;
}

:host >>> .func .param .name {
    /*color: #FD9B28;*/
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
}

:host >>> .func pre {
    max-height: 100px;
    margin: 0.2em 1em 0.6em;
    font-size: 10px;
}

:host >>> span.typeAny {
    color: #FD9B28;
    font-style: italic;
}

:host >>> span.typeNumber {
    color: #000000;
    font-style: italic;
}

:host >>> span.typeString {
    color: #FF3636;
    font-style: italic;
}

:host >>> span.typeBoolean {
    color: #989898;
    font-style: italic;
}

:host >>> span.typeObject {
    color: #3D8B9B;
    font-style: italic;
}

:host >>> span.typeArray {
    color: #349AB7;
    font-style: italic;
}

:host >>> span.typeVoid {
    color: #0000FF;
    font-style: italic;
}

:host >>> i.info:hover {
    cursor: help
}