<lds-panel-container>
    <div class="title inline-help"><i class="fa fa-microchip"></i> Script editor -  {{segment}}</div>
    <lds-help class="code-editor">
        The script editor is split into different tabs. The first one is the code editor itself. The apply function
        is the entry point of this script. The return of that apply is what is returned when another segment calls this segment's
        appply function.
        <br> The second tab gives an overview of the embedded _limeds javascript library that can be used in your script.
        <br> The other tabs represent the variable names that were given to each dependency of this segment. The tabs themselves
        contain information about the description and input/output formats of the dependency that they represent.
    </lds-help>
    <div class="my-cont">
        <div class="my-item">
            <div id="my-tabs">
                <div class="my-tab" [ngClass]="isActive('script')" (click)="openTab('script')"><i class="fa fa-microchip fa-lg"></i></div>
                <div class="my-tab" [ngClass]="isActive('_limeds')" (click)="openTab('_limeds')"><i class="fa fa-book"></i> _limeds</div>
                <div class="my-tab" *ngFor="let v of vars" [ngClass]="isActive(v.label)" (click)="openTab(v.label)"><i class="fa" [ngClass]="v.collection ? 'fa-ellipsis-h' :'fa-puzzle-piece'"></i> {{v.label}}</div>
            </div>
        </div>
        <div class="my-item-stretch" [hidden]="selTab !== 'script'">
            <div id="code"></div>
        </div>

        <div class="my-item-stretch" [hidden]="selTab !== '_limeds'">
            <div class="var-info" [innerHtml]="scriptLibDoc"></div>
        </div>
        <div class="my-item-stretch" *ngFor="let v of vars" [hidden]="selTab !== v.label">
            <lds-doc-variable class="var-info" [var]="v" [description]="descriptions.get(v.label)" [documentation]="documentation.get(v.label)"></lds-doc-variable>
        </div>

        <div class="my-item">
            <div class="pull-left" *ngIf="errorMsg">
                <p class="text-danger">{{errorMsg}}</p>
            </div>
            <div class="my-buttons pull-right">
                <button class="btn btn-link" type="button" (click)="cancelPanel()">Discard</button>
                <button class="btn btn-primary" type="submit" (click)="onSubmit()">Save</button>
            </div>
        </div>

    </div>
</lds-panel-container>