.wrapper {
    width: 100%;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
}

.content {
    position: absolute;
    top: 50px;
    padding: 1em 2em;
}

.default-cursor {
    cursor: default !important;
}

.btn-group-right {
    position: absolute;
    right: 1em;
}

.btn-group-right .btn-group {
    display: inline-block;
    margin-left: 5px;
}

.issue:hover {
    cursor: pointer;
    background-color: #e9e9e9 !important;
}

div.my-btn {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.my-bar {
    width: auto;
    float: right;
    text-align: right;
    clear: none;
}

.my-bar > * {
    float: right;
    margin-left: 5px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #455E4E;
    margin-bottom: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}