<div class="header">
	<topbar>
		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group">
				<button class="btn btn-limedark" (click)="openSlices()">
					<span class="fa fa-chevron-left fa-lg"></span> Slices overview
				</button>
			</div>
			<div class="btn-group-right">
				<div class="btn-group">
					<button class="btn btn-warning" (click)="openSwagger()">
						<span class="fa fa-external-link fa-lg"></span> Swagger UI
					</button>
				</div>
				<div class="btn-group">
					<button class="btn btn-limedark" (click)="openWiki()">
						<span class="fa fa-external-link fa-lg"></span> Wiki
					</button>
					<button class="btn btn-limedark" (click)="openWebsite()">
						<span class="fa fa-external-link fa-lg"></span> Official website
					</button>
				</div>
			</div>
		</div>
	</topbar>
</div>
<form [formGroup]="myForm">
	<div class="row">
		<div class="col-sm-12">
			<div class="title inline-help">
				<span class="fa fa-bug"></span>
				Debug view
			</div>
			<lds-help>
				This view parses the error log. Use this to find out why your Slices won't deploy, or why they don't work as exptected. The
				standard display is limited to the last 15 errors, but you can switch it to a full list.
			</lds-help>
			<div class="my-bar pull-right">
				<div class="btn-group">
					<button class="btn btn-danger" (click)="clearIssues()"><i class="fa fa-remove"></i> Clear</button>
					<button class="btn btn-lime2" (click)="hardRefresh()"><i class="fa fa-refresh"></i> Refresh</button>
				</div>
				<div class="input-group" style="width: 280px">
					<span class="input-group-btn">
						<button class="btn btn-default" style="width: 80px" (click)="isLimited ? toggleFull(): toggleLimit()">
							<span *ngIf="isLimited"><i class="fa fa-toggle-on"></i> Limit</span>
							<span *ngIf="!isLimited"><i class="fa fa-toggle-off"></i> All</span>
						</button>
					</span>
					<input type="text" class="form-control" placeholder="Search text" formControlName="filter">
				</div>
			</div>
		</div>
	</div>
</form>
<div class="row">
	<div class="col-sm-12">
		<br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Timestamp</th>
					<th>Source</th>
					<th>Error</th>
					<th>Message</th>
					<th>Location</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let issue of filteredIssues" class="issue" (click)="openIssue(issue)">
					<td>{{issue.timestamp | date:'HH:mm:ss'}}</td>
					<td>{{issue.source}}</td>
					<td>{{issue.type}}</td>
					<td>{{issue.message.length > 65 ? (issue.message|slice:0:62) + '...' : issue.message}}</td>
					<td>{{issue.location}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>