div.topbar {
    position: absolute;
    width: auto;
    height: 50px;
    
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    
    background-color: #455E4E;/*#656565;*/
}

div.logo {
    display: inline;
}

div.logo img {
    margin: 6px 0 auto 18px;
    height: 36px;
    vertical-align: top;
}

span.toolbar {
    padding-left: 2em;
    display: inline-block;
    vertical-align: bottom !important;
}

/*span.toolbar >>> button.btn {
    vertical-align: bottom !important;
}*/