<div class="topbar">
    <div class="logo">
        <a routerLink="">
            <img src="./assets/img/limeds_logo.png">
        </a>
    </div>
    <span class="toolbar">
        <ng-content></ng-content>
    </span>
</div>