<lds-panel-container minHeight="auto" minWidth="800px">
	<div class="row">
		<div class="col-sm-12">
			<div class="title inline-help"><i class="fa fa-dot-circle-o"></i> Assign entry points</div>
			<lds-help>
				Entry points are possible ways to start calling a segment of your slice. There are various possibilities such as exposing
				a REST endpoint on the server, scheduling a timed activiation, or triggering by listening to incoming events.
			</lds-help>
		</div>
	</div>

	<form [formGroup]="myForm" class="form" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-sm-12">
				<div class="checkbox caption">
					<label>
						<input type="checkbox" class="h4" formControlName="web">
						<h4 class="inline-help">Web endpoint</h4>
						<lds-help>
							Expose a REST endpoint on the server. Save and deploy your slice to make it available.
						</lds-help>
					</label>
				</div>
			</div>
		</div>

		<fieldset [disabled]="!myForm.controls.web.value">
			<div class="row">
				<div class="col-sm-6">

					<div class="form-group">
						<label for="inputMethod" class="control-label">Method<sup>*</sup></label>
						<select id="inputMethod" class="form-control" formControlName="method">
							<option *ngFor="let m of methods" [value]="m.value">{{m.label}}</option>
						</select>
					</div>

					<div class="form-group">
						<label for="inputPath" class="control-label">Path<sup>*</sup></label>
						<div class="input-group">
							<input id="inputPath" class="form-control" formControlName="path" placeholder="/webpath/from/root" autocomplete="off">
							<span class="input-group-btn">
						        <button type="button" class="btn btn-info" (click)="setupQuery()">?query...</button>
                            </span>
						</div>
						<p class="help-block" *ngIf="httpDocumentation && httpDocumentation.querySchema">
							Queryinfo present
							<lds-help [htmlContent]="httpDocumentation.querySchema | json:'2'" [pre]="true" logoClass="fa-info-circle"> </lds-help>
						</p>
						<p class="help-block" *ngIf="!httpDocumentation || !httpDocumentation.querySchema">
							No Query info present...
						</p>
					</div>

				</div>


				<div class="col-sm-6">
					<div class="form-group">
						<label for="inputAuthMode" class="control-label">Auth mode</label>
						<select id="inputAuthMode" class="form-control" formControlName="authMode">
							<option value="NONE">NONE</option>
							<option value="AUTHENTICATE_ONLY">AUTHENTICATE_ONLY</option>
							<option value="AUTHORIZE_CONJUNCTIVE">AUTHORIZE_CONJUNCTIVE</option>
							<option value="AUTHORIZE_DISJUNCTIVE">AUTHORIZE_DISJUNCTIVE</option>
						</select>
					</div>

					<div class="form-group">
						<label for="inputAuthReq" class="control-label">Required roles</label>
						<input id="inputAuthReq" class="form-control" formControlName="authorityRequired" placeholder="space delimited list of roles">
					</div>

					<div class="form-group">
						<label for="inputLoadBalancing" class="control-label">Load balancing</label>
						<input id="inputLoadBalancing" class="form-control" formControlName="loadBalancing" placeholder="strategy name">
					</div>
				</div>
			</div>
		</fieldset>


		<div class="row">
			<div class="col-sm-6">
				<div class="checkbox caption">
					<label>
						<input type="checkbox" class="h4" formControlName="scheduled">
						<h4 class="inline-help">Scheduled start</h4>
						<lds-help>
							Use a command to schedule a timed activation. A command be a continous schedule as well as a delayed execution.
						</lds-help>
					</label>
				</div>

				<fieldset [disabled]="!myForm.controls.scheduled.value">

					<div class="form-group">
						<label for="inputScheduleAmount" class="control-label" class="block">Time<sup>*</sup></label>
						<select id="inputScheduleCommand" class="form-control" formControlName="scheduleCommand">
							<option value="every">Every</option>
							<option value="delay">Delay</option>
						</select>
						<input id="inputScheduleAmount" type="number" class="form-control" min="0" max="1000" formControlName="scheduleAmount">
						<select id="inputScheduleAmountUnit" class="form-control" formControlName="scheduleAmountUnit">
							<option value="hours">Hours</option>
							<option value="minutes">Minutes</option>
							<option value="seconds">Seconds</option>
							<option value="milliseconds">Milliseconds</option>
						</select>
					</div>

					<div class="form-group">
						<label for="inputScheduleOffset" class="control-label" class="block">Offset <small>(optional)</small></label>
						<input id="inputScheduleOffset" type="number" class="form-control" min="0" max="1000" formControlName="scheduleOffset">
						<select id="inputScheduleOffsetUnit" class="form-control" formControlName="scheduleOffsetUnit">
							<option value=""></option>
							<option value="hours">Hours</option>
							<option value="minutes">Minutes</option>
							<option value="seconds">Seconds</option>
							<option value="milliseconds">Milliseconds</option>
						</select>
					</div>

				</fieldset>

			</div>

			<div class="col-sm-6">
				<div class="checkbox caption">
					<label>
						<input type="checkbox" class="h4" formControlName="event">
						<h4 class="inline-help">Subscriptions</h4>
						<lds-help>
							Listen to an event channel for incoming events. You can send to these channels by important a segment made for an EventSender
							factory.
						</lds-help>
					</label>
				</div>

				<fieldset [disabled]="!myForm.controls.event.value">

					<div class="form-group">
						<label for="inputEventChannels" class="control-label">Event channels</label>
						<lds-help>
							Enter the ids of the channels to listen to, divide channel ids by spaces.
						</lds-help>
						<input id="inputEventChannels" class="form-control" formControlName="eventChannels" placeholder="space delimited list of event channels">
					</div>

				</fieldset>

			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="form-group text-right">
					<button type="button" class="btn btn-link" (click)="cancelPanel()">Cancel</button>
					<button type="submit" class="btn btn-primary" [disabled]="!isValid()">Save</button>
				</div>
			</div>
		</div>
	</form>
</lds-panel-container>