div.checkbox label input[type=checkbox].h4 {
    margin-top: 12px
}

div.checkbox label h4 {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
       -khtml-user-select: none;    /* Konqueror */
         -moz-user-select: none;      /* Firefox */
          -ms-user-select: none;       /* Internet Explorer/Edge */
              user-select: none; 
    font-size: 17px;
}

div.checkbox.caption {
    margin-bottom: 4px;
}

.block {
    display: block;
}

#inputScheduleAmount, #inputScheduleOffset {
    display: inline-block;
    width: 80px;
}

#inputScheduleCommand, #inputScheduleAmountUnit, #inputScheduleOffsetUnit {
    display: inline-block;
    width: auto;
}