<lds-panel-container minHeight="auto" minWidth="300px" width="400px">
    <div class="row">
        <div class="col-sm-12">
            <div class="title inline-help"><i class="fa fa-puzzle-piece"></i> Manage variables</div>
            <lds-help>
                Manage the variables of this segment. Variables can be merged together to form a multi-link, or renamed.
                <br><strong>Note: All changes in this panel are permanent and irreversible!</strong>
            </lds-help>
        </div>
    </div>
    <form [formGroup]="myForm" class="form">

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="inputVariables">Variables</label>
                    <lds-help>These are the current variables that this segment depends on. Select multiple with ctrl.</lds-help>
                    <select class="form-control" formControlName="variables" multiple="multiple" size="8">
                        <option *ngFor="let v of vars" value="{{v.key}}">{{v.key}} [{{getTargetAmount(v)}} targets]</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <label class="control-label">Actions</label><br>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Multi-link" formControlName="merge">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-warning" style="width: 100px;" type="button" (click)="onMerge()" [disabled]="!status.multi">
                                Merge <lds-help>A merged variable is an array, of dependencies. eg. to use: merged[i].apply()</lds-help>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="New name" formControlName="rename">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-warning" style="width: 100px;" type="button" (click)="onRename()" [disabled]="!status.single || !!myForm.controls.rename.errors">
                                Rename <lds-help>Rename this variable. <strong>Note: you must manually rename the variable in your scripts.</strong></lds-help>
                            </button>
                        </span>
                    </div>
                     <div class="row" *ngIf="myForm.controls.rename.errors">
                        <div class="col-sm-12">
                            <p class="text-danger">First letter of a variable must be lower case. Dots and spaces are not allowed.</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-danger z-fix" type="button" (click)="onRemove()" [disabled]="!status.single">
                        Delete variable <lds-help>Completely removes this variable from the segment.</lds-help>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group text-right">
                    <button type="reset" class="btn btn-link" (click)="cancelPanel()">Close</button>
                </div>
            </div>
        </div>

    </form>
</lds-panel-container>