<lds-panel-container minHeight="auto" minWidth="500px">
    <div class="row">
        <div class="col-sm-12">
            <div class="title inline-help"><i class="fa fa-floppy-o"></i> Save as new Slice version</div>
            <lds-help>
                This will save the current state of the slice and save it as a new version.
            </lds-help>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="myForm" class="form" (submit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="currentVersion" class="control-label">Current version</label>
                            <p class="form-control-static" id="currentVersion">{{currentVersion}}</p>
                        </div>

                        <div class="form-group">
                            <label for="inputVersion" class="control-label">New version</label>
                            <div class="">
                                <p id="inputVersion" class="form-control-static">{{getNewVersion()}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label for="bumpGroup" class="control-label">Bump version</label>
                            <lds-help>
                                <strong>Major:</strong> incompatible API changes.<br>
                                <strong>Minor:</strong> new backwards-compatible functionality.<br>
                                <strong>Patch:</strong> backwards-compatible bug fixes.
                            </lds-help><br>
                            <div id="bumpGroup" class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" (click)="bumpMajor()" [ngClass]="{'active': isMajor}">Major</button>
                                <button type="button" class="btn btn-default" (click)="bumpMinor()" [ngClass]="{'active': isMinor}">Minor</button>
                                <button type="button" class="btn btn-default" (click)="bumpMicro()" [ngClass]="{'active': isMicro}">Patch</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="options" class="control-label">Options</label>
                            <lds-help>
                                <strong>Open new slice:</strong> open new version in new tab/window.<br>
                                <strong>Deactivate current slice:</strong> try to deactivate the current version.
                            </lds-help>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" formControlName="open">
                                    Open new slice
                                </label>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" formControlName="undeploy">
                                    Deactivate current slice
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" *ngIf="error">
                            <p class="text-danger">This version already exists, please choose another version,<br> or base your bump of of that
                                existing version.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-right">
                            <button type="button" class="btn btn-link" (click)="cancelPanel()">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</lds-panel-container>