<lds-panel-container minHeight="120px" maxHeight="80%" minWidth="60%">
	<div class="row">
		<div class="col-sm-12">
			<div class="title inline-help"><i class="fa fa-eye"></i> {{issue.type}}</div>
			<lds-help>
				This view shows the details of the selected error.
			</lds-help>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
            <h4>Details</h4>
			<table class="table table-condensed table-striped table-bordered" style="width: auto;">
				<tr>
					<td><b>Timestamp</b></td>
					<td>{{issue.timestamp | date:'dd MMM y @ HH:mm:ss'}}</td>
				</tr>
				<tr>
					<td><b>Source</b></td>
					<td>{{issue.source}}</td>
				</tr>
				<tr>
					<td><b>Location</b></td>
					<td>{{issue.location}}</td>
				</tr>
			</table>
		</div>
	</div>

    <div class="row" *ngIf="issue.message">
		<div class="col-sm-12">
			<h4>Message</h4>
            <span style="padding-left: 0.8em;">{{issue.message}}</span>
		</div>
	</div>

	<div class="row" *ngIf="issue.trace && issue.trace.length > 0">
		<div class="col-sm-12">
			<h4>Stacktrace</h4>
			<div *ngFor="let t of issue.trace" style="padding-left: 0.8em;">[{{t.segmentId}}] {{t.location}}</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="pull-right">
				<button type="button" class="btn btn-link" (click)="onCancel()">Close</button>
				<!--<button type="submit" class="btn btn-primary">Save</button>-->
			</div>
		</div>
	</div>
</lds-panel-container>