<lds-panel-container minWidth="480px" maxWidth="100px" minHeight="100px">

	<div class="row">
		<div class="col-sm-12">
			<div class="title"><i class="fa fa-exclamation-triangle"></i> {{title}}</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<p>{{description}}
			<p><b>{{question}}</b>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div [ngSwitch]="buttons">
				<div class="pull-right" *ngSwitchCase="'Ok'">
					<button type="submit" class="btn btn-primary" (click)="onSubmit()" #ok>Ok</button>
				</div>

				<div class="pull-right" *ngSwitchCase="'OkCancel'">
					<button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
					<button type="submit" class="btn btn-primary" (click)="onSubmit()" #ok>Ok</button>
				</div>

                <div class="pull-right" *ngSwitchCase="'YesNoCancel'">
					<button type="reset" class="btn btn-link" (click)="onCancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()" #ok>Yes</button>
					<button type="button" class="btn btn-danger" (click)="onNo()">No</button>
				</div>

			</div>

		</div>
	</div>

</lds-panel-container>