<lds-panel-container minHeight="40%" minWidth="60%">
    <div class="row">
        <div class="col-sm-12">
            <div class="title inline-help">Please fill in these required fields</div>
            <lds-help>
                When creating a new instantiation of a factory, all the configurable properties of that factory must be initialized.
            </lds-help>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form [formGroup]="myForm" class="form" (submit)="onSubmit()">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="No . in the name!">
                    <p class="help-block">This name will be used as the label for this component. (CamelCase)</p>
                    <div *ngIf="myForm.controls.name.errors">
                        <div *ngIf="myForm.controls.name.dirty && myForm.controls.name.errors.required" class="text-danger">You must enter a unique Segment name!</div>
                        <div *ngIf="myForm.controls.name.errors.pattern" class="text-danger">You must enter a valid Segment name: starts with capital letter, no space, no dots, min 2 chars.</div>
                        <div *ngIf="myForm.controls.name.errors.notUnique" class="text-danger">A Segment with that name already exists in this Slice.</div>
                    </div>
                </div>
                <div *ngFor="let entry of vm.configEntries; let i=index">
                    <div class="form-group" [ngSwitch]="entry.simpleType">
                        <div *ngSwitchCase="'text'">
                            <label class="control-label">{{entry.name}}</label>
                            <input type="text" class="form-control" formControlName="{{entry.name}}">
                            <p *ngIf="entry.description" class="help-block">{{entry.description}}</p>
                        </div>
                        <div *ngSwitchCase="'array'">
                            <label class="control-label help-inline">{{entry.name}}</label>
                            <lds-help>Seperate multiple values with a comma, like so: value1, value2, value3</lds-help>
                            <input type="text" class="form-control" formControlName="{{entry.name}}">
                            <p *ngIf="entry.description" class="help-block">{{entry.description}}</p>
                        </div>
                        <div *ngSwitchCase="'number'">
                            <label class="control-label">{{entry.name}}</label>
                            <input type="number" class="form-control" formControlName="{{entry.name}}">
                            <p *ngIf="entry.description" class="help-block">{{entry.description}}</p>
                        </div>
                        <div *ngSwitchCase="'checkbox'">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" formControlName="{{entry.name}}"> {{entry.name}}
                                </label>
                            </div>
                            <p *ngIf="entry.description" class="help-block">{{entry.description}}</p>
                        </div>
                        <div *ngSwitchCase="'select'">
                            <label class="control-label">{{entry.name}}</label>
                            <select class="form-control" formControlName="{{entry.name}}">
                                <option *ngFor="let opt of entry.possibleValues" value="{{opt}}">{{opt}}</option>
                            </select>
                            <p *ngIf="entry.description" class="help-block">{{entry.description}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="reset" class="btn btn-link" (click)="cancelPanel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!isValid()">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</lds-panel-container>