<lds-panel-container>
    <div class="title">{{title}}</div>
    <pre *ngIf="slice">{{slice | json}}</pre>
    <button class="btn btn-info btn-sm my-close-btn" (click)="cancelPanel()">Close</button>
</lds-panel-container>