<lds-panel-container minHeight="auto" minWidth="500px">
    <div class="row">
        <div class="col-sm-12">
            <div class="title"><i class="fa fa-plus"></i> Create a new Segment</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form class="form" (submit)="onSubmit()" [formGroup]="form">
                <div class="form-group">
                    <label class="control-label" for="inputName">Name</label><lds-help>This name will be used as the label for this segment. (Please use CamelCase)</lds-help>
                    <input class="form-control" type="text" id="inputName" formControlName="name" placeholder="Segment name" autocomplete="off">
                    <div *ngIf="form.controls.name.errors">
                        <div *ngIf="form.controls.name.dirty && form.controls.name.errors.required" class="text-danger">You must enter a unique Segment name!</div>
                        <div *ngIf="form.controls.name.errors.pattern" class="text-danger">You must enter a valid Segment name: starts with capital letter, no space, no dots, min 2 chars.</div>
                        <div *ngIf="form.controls.name.errors.notUnique" class="text-danger">A Segment with that name already exists in this Slice.</div>
                    </div>
                </div>
                <div class="form-group text-right">
                    <button type="reset" class="btn btn-link" (click)="cancelPanel()">Cancel</button>
                    <button type="submit" class="btn btn-primary" [disabled]="form.controls.name.errors">Create</button>
                </div>
            </form>
        </div>
    </div>
</lds-panel-container>