<lds-panel-container minHeight="auto" minWidth="60%">
    <div class="row">
        <div class="col-sm-12">
            <div class="title inline-help"><i class="fa fa-cog"></i> General options</div>
            <lds-help>
                These general options allow you to export this segment and add a descripton.
            </lds-help>
        </div>
    </div>
    <form [formGroup]="myForm" class="form" (submit)="onSubmit()">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputExport" class="control-label">Allow importing</label>
                    <lds-help>
                        By exporting this segment, you can import it in other slices by using the 'import segment' function.
                        <!--<span *ngIf="!canExport">Factory instances cannot be exported. Instead, reinstantiate a new factory instance.</span>-->
                    </lds-help>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" formControlName="export"> Export segment
                            <!--<span *ngIf="!canExport" class="text-disabled">Factory instance cannot be exported</span>-->
                        </label>
                    </div>
                </div>
                <div class="form-group" *ngIf="canConvert">
                    <label class="control-label">Instantiation behaviour</label>
                    <lds-help>
                        <span>Convert this Segment to a factory. Factories can be used to create new instances from, that instantiate
                            the configurations properties.</span>
                    </lds-help>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" formControlName="factory">
                            <span>Convert to factory</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" *ngIf="!isSliceLocal">
                <div class="form-group">
                    <label for="inputVersion" class="control-label">Versions</label>
                    <lds-help>
                       This is just a read-only view at the moment, probably only works for factory instantiations, not for imported segments
                    </lds-help>
                    <select class="form-control">
                            <option *ngFor="let v of versions">{{v}}</option>
                    </select>
                    
                </div>
                <div class="form-group">
                    <label class="control-label">Bound version</label>
                    <lds-help>
                        The currently bound version
                    </lds-help>
                    <p class="form-control-static">{{version}} <small>({{versionExpression}})</small></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="inputDescription" class="control-label">Description</label>
                    <lds-help>Descriptions are used to quickly explain the meaning of a segment. What it does when its apply function
                        is called. Descriptions can be viewed in the script panel under this variable's tab</lds-help>
                    <textarea class="form-control" rows="6" formControlName="description"></textarea>
                </div>
                <div class="form-group pull-right">
                    <button type="button" class="btn btn-link" (click)="cancelPanel()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</lds-panel-container>