<lds-panel-container minHeight="60%" minWidth="60%">

    <div class="title inline-help">Choose a type</div>
    <lds-help>
        You can choose a type and a version of that type.
    </lds-help>

    <form [formGroup]="myForm" class="form" (submit)="onSubmit()">

        <div class="flex-cont">

            <div class="flex-left">
                <!--<div class="select-cont">-->
                <div class="flex-child-upper">
                    <label class="control-label" for="inputSegment">Types</label>
                    <lds-help>
                        ...
                    </lds-help>
                    <input type="text" class="form-control input-sm" #query (keyup)="search(query.value)" placeholder="filter" id="searchFilter"
                        autocomplete="off">
                </div>
                <div class="flex-child-down">
                    <div class="stretch-container">
                        <select class="form-control types" id="inputSegment" formControlName="types" size="8" #ffSelected>
                            <option *ngFor="let type of items | async" value="{{type.name}}" [disabled]="type.package" [ngClass]="getOptionCss(type.package)">
                                {{type.label}}
                            </option>
                        </select>
                    </div>
                </div>

                <!--</div>-->
            </div>

            <div class="flex-right">
                <div class="flex-child-upper">
                    <label class="control-label" for="inputSegmentVersion">Versions</label>
                    <lds-help>
                        Select a specific version, or pick the latest to always pick the most recently available version.
                    </lds-help>
                    <select class="form-control input-sm" type="text" id="inputSegmentVersion" formControlName="version" autocomplete="off" size="1">
                        <option *ngFor="let v of listVersions(myForm.controls.types.value); let latest = first" value="{{v}}">{{latest ? 'latest' : v}}</option>
                    </select>
                </div>
                <div class="flex-child-down">
                    <div class="stretch-container">
                        <div class="typeCode" #typeCode></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="my-btn">
            <button type="button" class="btn btn-link" (click)="onCancel()">Cancel</button>
            <button type="submit" class="btn btn-primary">Choose</button>
        </div>

    </form>
</lds-panel-container>