select.typeSelect {
    position: absolute;
    top: 0px;
    bottom: 34px;
    width: 100%;    
    overflow: auto;
    padding: 4px 2px;
}

select.typeSelect option {
    padding: 2px 4px;
}

div#typeEditor {
    height: 100%;
    border: 1px solid rgb(169,169,169);
}

div.my-btns {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

div.types-btn-bar {
    float: right;
    text-align: right;
}

div.types-btn-bar > * {
    display: inline-block;
}

div.flex-cont {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 15px;
    right: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

div.flex-left {
    flex: 0 0 250px;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;

    padding-right: 5px;
    margin-bottom: 1px;
}

div.flex-right {
    flex: 1 1 auto;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

div.flex-child-upper {
    flex: 0 0 auto;
    align-self: stretch;
}

div.flex-child-down {
    flex: 1 1 100%;
    align-self: stretch;
}

div.my-btn {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.typeCode, .stretch-container {
    height: 100%;
}

.typeCode {
    border: 1px solid #ccc;
}

.types {
    height: 100%;
}

.types option {
    
}

option.option-package {
    /*font-style: oblique;*/
    color: #aaa;
    font-size: 12px;
    padding-top: 0.4em;
    padding-bottom: 0.2em;
}

option.option-type {
    text-indent: 1em;
}
